[2019-02-01 21:36] benhaynes commented on #430
Understood.

I don't think that users will be deleting fields very often, so I think the try/catch method would work just fine. `INFORMATION_SCHEMA.COLUMNS` seems like another MySQL specific test that will cause us issues when we want to support other DB vendors.

[2019-02-01 22:13] WellingGuzman commented on #430
This will be implemented in the MySQL adapter only, this won't cause any issue to other database implementation.

I will implement it this way if possible, easy (which apparently seems to be). I will give you an update when I start working on it.

[2019-02-02 18:50] rjwismar opened #748 "Undefined error on api requests"
# Bug Report

I have in the error.log sometimes a SQL error.

[2019-02-02 18:14:37] api[_].ERROR: Zend\Db\Adapter\Exception\InvalidQueryException: Statement could not be executed (22001 - 1406 - ) in /var/www/api.ssb-festival.de/directus/vendor/zendframework/zend-db/src/Adapter/Driver/Pdo/Statement.php:244

The error always occurs twice in a row, but instead of not writing any data, because it is

[2019-02-02 21:51] magikstm opened #831 "Revert saves full copy to directus_revisions, instead of just changed fields"
# Bug Report

Related to #1299.

## Steps to Reproduce

On the demo (Directus Latest):

For an existing item:
1. Go to 'Movies'
2. Click on an item that can be reverted (if need be, do changes to it, save a few times and open it again)
3. Click on 'Revert' on the right
4. Click on 'Revert' on the modal

The behavior is the same for a new item that is reverted.

## Expected Behavior

Only fields th

[2019-02-03 21:13] adamjgrant commented on #17
I'm getting this error when setting a field to "required" from admin settings.

[2019-02-03 21:13] adamjgrant commented on #17
<img width="1571" alt="screen shot 2019-02-03 at 1 13 17 pm" src="https://user-images.githubusercontent.com/320494/52182789-7b238500-27b5-11e9-8407-de68e981049e.png">

[2019-02-04 01:50] dur41d commented on #636
@WellingGuzman

I couldn't get the symbolic links to work.. always getting 403. I tried putting Options +FollowSymLinks -SymLinksIfOwnerMatch in htaccess but it didn't help. My file owner is different than the web owner and I can't change that with my shared host.

All the requests going thought public/index.php are working fine. Only the direct requests to files under extensions and thumbnail are

[2019-02-04 13:13] WellingGuzman commented on #636
Hey @dur41d,

Does your shared hosting provider disable symlinks altogether? I thought replacing `FollowSymLinks` with `SymLinksIfOwnerMatch`, would've solved this issue.

What if you copy the `.htaccess` instead of create the symlink will the server follows an actual `.htaccess` instead of a symlink of it? Although I think the `.htaccess` is working if you said everything works except serving sta

[2019-02-04 13:17] WellingGuzman commented on #17
Hey @adamjgrant, are you using the `development` version from `master`?

There's a bug updating fields at the moment that was fixed recently, but has not been released yet.

Can you try using the `master` branch and tells us if it still happens?

[2019-02-04 13:20] WellingGuzman commented on #748
We would need more information how to reproduce this in order to fix it.

- Can you show us the complete error log stack-trace?
- When this is happening?

[2019-02-04 13:31] Jonesus commented on #437
How's the situation with this one? I'd need M2X for a project of mine, and I think implementing this (with an interface) is required before the M2X could be worked on? I could try digging into the codebase and this issue if it's not under work already, should be a decent introductory task

[2019-02-04 13:36] WellingGuzman commented on #748
@rjwismar Thanks for the complete log.

Can I get a database dump so I can use to reproduce this?

As the error is not caught by Directus, I also need to know what is the request from angular (including its payload) that use that throws this error.

[2019-02-04 13:41] rjwismar commented on #748
I have sensitive data in this database, I can send you the dump privately.

Unfortunately I do not know the exact payload, which is sent by public users. Unless you know a way to record the payload from nginx.

[2019-02-04 14:02] WellingGuzman commented on #748
You can send it to me via Slack, you can get a invitation here: https://slack.getdirectus.com.

If you don't know the payload can you show me the code that triggers the request? What are you trying to create? From the logs it seems this error happens trying to create an item.

[2019-02-04 15:19] dur41d commented on #636
Hi @WellingGuzman

Yes I tried all those. I copied the .htaccess to my public directory to make sure that apache is reading the rules. I tried all these settings:

+FollowSymLinks
+SymLinksIfOwnerMatch
+FollowSymLinks -SymLinksIfOwnerMatch

What do you mean if the `/admin` works for me? the `app` is in my public folder so there is no problem in executing it. The problem is with the `api` because i

[2019-02-04 15:37] rijkvanzanten commented on #437
@Jonesus I think we should have "native support" for UUID primary keys in the api: meaning that it can be a replacement for auto-increment integers. When that's done, we indeed have to create an interface that will tie multiple collections that use this UUID primary key together.

[2019-02-04 15:49] WellingGuzman commented on #636
If you are able to access static files from `uploads` and `admin` directory, I don't understand why you are getting 403 errors on `extensions` if they are all in the same public directory.

If they all exists, you wouldn't be able to execute your example because the web server will catch and serve those request (based on `.htaccess` ignoring rewriting on existing files).

[2019-02-04 16:15] dur41d commented on #636
@WellingGuzman

This is how i'm hosting the `api` and `app`:

[code]

I deleted the .htaccess from /home/protected/api/public so that my code above works and it does because i tested it.

[2019-02-04 16:50] benhaynes commented on #750
@wolfulus @WellingGuzman — is this an API, Docker, or server issue?

[2019-02-04 17:12] alvarocabanas commented on #511
This filtered Dynamic Permissions would be a great help also for our use case, because we could make composition of permissions for our collections by user.

[2019-02-04 17:41] WellingGuzman commented on #750
@benhaynes I can't tell where's the issue.

Hey @shartley76 can you tell us if there's any logs in the api `logs` directory. Also in your developer tools, what's the response on that failed request?

[2019-02-04 19:34] WellingGuzman commented on #636
@dur41d I understand, I thought they were together at the same path (using the `directus/directus` repo). Thanks for the clarification.

Your solution seems ideal to me for this case in particular. Although is not a "clean" way, it's a way to solve by how the project is structured and the server permissions.

[2019-02-04 19:39] WellingGuzman commented on #635
Hey everyone,

We've been discussing this bug for a while and we came up with a solution by getting the project name from the JWT token on all the shared/global endpoints such as `/interfaces`.

If everyone could try this fix (currently on `master` branch) and confirm is working that would be great.

I've been testing for a while and I haven't found any issue, but we all know as soon as someone el

[2019-02-04 20:47] honzabilek4 commented on #635
Thanks @welling!
I’ll be able to give it a shot on Thursday at earliest.

[2019-02-04 21:17] shartley76 commented on #750
Hi, i've attached a screenshot from developer tools. The first error i think is to do with the thumbnail of the video, there is a CORS error which is strange since i'm able to upload a smaller file with no issues. I've expanded out the final object error. Looks like a timeout of some sort..

![image](https://user-images.githubusercontent.com/47198569/52237749-420f2000-292f-11e9-9028-f332552f7443.p

[2019-02-04 21:21] WellingGuzman commented on #750
hey @shartley76, can you go to the network tab, and find the failed request (the one with status 500) and screenshot or copy paste the response?

Also look in the `logs` directory of the API to see if there's any error being logged.

[2019-02-04 21:34] WellingGuzman commented on #750
The request doesn't seem to be getting to the API. Is there any errors in your nginx logs?

[2019-02-04 22:02] shartley76 commented on #750
I can't see anything in the logs, they're empty

[2019-02-04 22:20] zyclonite commented on #635
i tried 2.0.17 as well as the two commits after... but i cannot even login because the /server/ping resource gets me already a 401 "Unauthorized request"

[2019-02-04 23:40] shartley76 commented on #750
for accessing the files resource there are 2 errors: the first is:
Access to XMLHttpRequest at 'http://localhost:7000/_/files' from origin 'http://localhost:8000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

I'm not sure why i'm getting that error when I can successfully upload to files a smaller file?

error no2 is:
Error: Network

[2019-02-04 23:45] shartley76 commented on #750
also @WellingGuzman checking the network timing on the files (server error 500 resp). I can see that it does start to receive a response:

![image](https://user-images.githubusercontent.com/47198569/52244778-eef39800-2943-11e9-8794-909cfca93c6f.png)

[2019-02-05 01:20] adamjgrant commented on #17
Looks like I'm on the master branch.

[code]

[2019-02-05 11:13] AlexisWalravens opened #758 "Error while trying to edit a text input field in a collection's settings - SQLSTATE[42000]: Syntax error or access violation: 1064"
# Bug Report
Following error while attempting to edit a Text Input field on a collection's settings:
[code]

EDIT:
I think it has to do with the default value, if I enter something in the default value and try to save the field I get this error:
`SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server vers

[2019-02-05 17:37] jdiericks opened #755 "Method not allowed"
## Version Info
  - Directus API version (Or commit hash): **v7.0.16**
  - PHP version: **7.2**
  - MySQL version: **5.7.25**
  - Web server: (Ex. Apache, nginx or IIS?) **nginx**
  - OS name and version: **Ubuntu 16.04 LTS**

Greetings,

This is a fresh install for me, so far I have been able to install everything correctly enough to be able to login.

However,  when I attempt to upload a image o

[2019-02-06 03:06] rijkvanzanten opened #751 "Discuss date format parameter"
I was reading this article https://medium.com/@toastui/handling-time-zone-in-javascript-547e67aa842d that raised a couple good points about the risks of relying solely on ISO-8601, and I remember someone on Slack mentioning that the time conversion was particularly tricky on Android.

Should we add a dateformat parameter that allows the user to signal to the API to return the data in Unix timestam

[2019-02-06 03:10] rijkvanzanten commented on #751
(Seeing that this would be timezone agnostic, I'm also hoping it will prevent more timezone errors from happening on the client side)

[2019-02-06 13:27] WellingGuzman commented on #635
@zyclonite the `master` branch should be working now. we will appreciate it any one could test the `master` branch before next release.

I fixed the `/server/ping` issue here: https://github.com/directus/api/commit/dbb48782f221a14ece2b1ff34592b9321d08a1b5

[2019-02-06 14:02] WellingGuzman commented on #17
You are using the master from the `directus/directus` repository (which is the released build version), this was fixed in master from the `directus/api` repository.

Please test it using the `directus/api` master branch and see if it still happens. If it still happening on the `master` branch, can you open a new ticket explaining how we can reproduce it?

This fix hasn't been released yet on `dire

[2019-02-06 14:22] WellingGuzman commented on #751
I like this. I don't know what would be the best way to do this. Query String? field options? project configuration? or all options?

[2019-02-06 14:34] zyclonite commented on #635
@WellingGuzman tested the master at this id https://github.com/directus/api/tree/58304733dd3007d952fd589577dce868740f4fcd now and it worked.

[2019-02-06 15:04] benhaynes commented on #751
I'm no expert in this matter, but I think that's a great idea. Timezones have been a tricky thing since the beginning, so having multiple options for saving datetimes agnostically seems like a good move as long as we can maintain our current way and avoid a breaking change.

The most important thing when having _multiple_ options like this is defaults and documenting... so that our users don't get

[2019-02-06 15:14] WellingGuzman commented on #751
One important thing is that the timezone will be lost, unless this option append the timezone somewhere in the response, or based it on the field type (system are UTC), there will be no way to tell if it's UTC or server time,

[2019-02-06 15:54] rijkvanzanten commented on #751
Good point. I think we should keep the current way of doing things as the default so we don't introduce a breaking change. I was thinking we could have a `?dateformat=iso-8601` (default) / `?dateformat=unix` query parameter that would make the api return it in either format.

Good point. Is there anything we can do to make sure that the API returns Unix in UTC at all times? I guess we don't necess

[2019-02-06 17:19] #746 closed

[2019-02-06 17:31] #745 closed

[2019-02-06 22:14] WellingGuzman commented on #734
I still have not a fix for this. I want to explain what it was pointed out above.

The issue exists because the API tries to rename a file to the same filename, but before that it deletes the new path, so it can rename the old to the new path (avoid "file exists error").

I am trying to figure it out where to fix it, filesystem or tablegateway class, or somewhere else. Nothing had quite worked out

[2019-02-06 22:20] WellingGuzman commented on #734
This is happening on both `s3` and `local` storage.

[2019-02-07 09:20] kamlekar opened #753 "Tags isn't working"
# Bug Report

## Steps to Reproduce

1. Create a collection.. "Blogs"
2. Add some fields
3. Add a blog entry
4. Then add a new field of type "tag"
5. Try to edit the existing entry and add some tags
6. Try to save the entry

## Expected Behavior
New blog entry should be created

## Actual Behavior
When clicked on "Save" button.. nothing happening. When I open console, I saw the following error:

!

[2019-02-07 10:23] shealavington opened #752 "Issues going back to edit a field"
# Bug Report

**1: Can't update the "note / comment" on a field after it's been set once**

*Replicate*
1) Create a field with a comment
2) Go back to the field and try to edit the comment
3) Get a SQL error in console

*Expected*
1) "Note/Comment" should've been updated.

---

**2: Can't update the "required" on a field after it's been set once**

*Replicate*
1) Create a collection with a text fi

[2019-02-07 13:50] Pomazan-Bogdan commented on #367
Maybe I didn’t really understand what you are talking about above (I don’t know enough English), but I’ll say this:
Now very relevant in terms of providing GraphQL is the product https://github.com/hasura/graphql-engine

He forms api on a ready-made database.
And adds ACL and other features on top.
But, based on what I need, and why I got here, I need an admin panel to manage this data.

My point

[2019-02-07 19:23] benhaynes commented on #755
🔥🥔

[2019-02-08 08:18] kamlekar opened #756 "No messages when user makes a collection "Don't manage" or "manage""
# Bug Report

## Steps to Reproduce

1. Create a collection
2. Click on "Don't manage"
3. A confirmation box will appear. Click again - "Don't manage"
4. Nothing happens!

## Expected Behavior
A message or popup should appear whether the "Don't manage" trigger worked or not.

## Actual Behavior
Nothing happens!

Also, same goes to when trying to again "Manage" the collection.

Guys, fyi, I am doin

[2019-02-08 17:25] benhaynes opened #757 "Embeds (Files) not working"
Posting a YouTube embed to the API (see request below) I am seeing a few issues:

* The `directus_files.embed` is not saving (eg: `dQw4w9WgXcQ`)
* The MIME type is saving as an image (`image/jpeg`) but it should be `embed/youtube`
* We don't need a checksum of embeds

@rijkvanzanten @WellingGuzman  thoughts on the MIME type?

[code]

[2019-02-08 17:51] #734 closed

[2019-02-08 17:52] WellingGuzman commented on #734
This issue has been fixed by https://github.com/directus/api/commit/e721256d77ac5fe06ce825ff6c7536769780ebd4

[2019-02-08 18:01] WellingGuzman commented on #741
The fix was included in the [2.0.17](https://github.com/directus/api/releases/tag/v2.0.17) release.

[2019-02-08 18:01] #741 closed

[2019-02-08 18:09] WellingGuzman commented on #757
the `type` value should be `embed/youtube`.

[2019-02-08 18:14] WellingGuzman commented on #757
I have a question, what about the other data, such as `filesize`, `width`, `height`? the file record references the thumbnail rather than the embed, so all those other info should be related to the image instead?

[2019-02-08 18:15] benhaynes commented on #757
They should not be for the thumbnail... we can leave them blank, or if they have the YouTube API Key then we can get width/height (not filesize though).

[2019-02-08 18:50] WellingGuzman commented on #752
@shealavington can you share logs in the api? Could this be the same as #758?

[2019-02-08 18:52] WellingGuzman commented on #753
Hey @kamlekar, can you please look at the `logs` directory and share the logs if there's any?

[2019-02-08 19:00] #757 closed

[2019-02-08 19:03] benhaynes commented on #753
I have followed these steps and the tags interface is working for me. Perhaps this error is from something else in your config/setup?

As Welling said, logs help... or a database dump would be ideal!

[2019-02-08 19:13] WellingGuzman commented on #755
This error seems to be a issue with CORS. When the browser make a preflight request, and CORS is not enabled, the API will throw a method not allowed error.

Can you check your CORS configuration are set correctly in your project configuration?

[2019-02-08 19:20] WellingGuzman commented on #758
This bug was already fixed in 7.0.17 (API: 2.0.17). Reference: https://github.com/directus/api/issues/741

[2019-02-08 19:20] #758 closed

[2019-02-08 19:21] WellingGuzman commented on #758
@AlexisWalravens please upgrade to the latest version. This bug should've been resolved, otherwise please let us know.

[2019-02-08 19:23] WellingGuzman commented on #752
I don't know what are the logs in these errors, but I am starting to believe these are related to #758, which was already fixed in API `2.0.17`.

[2019-02-08 19:35] rijkvanzanten commented on #755
@WellingGuzman That wouldn't return the API error object though. In the example above, it looks like the API is returning the 405, based on the fact that the error code exists: `{code: 6, message: "Method Not Allowed"}`

[2019-02-08 19:57] WellingGuzman commented on #755
@rijkvanzanten I wasn't clear, I didn't meant directly with CORS or the browser, but the API not having CORS enabled throws this error, as the browser request `OPTIONS http://directus/_/items/users/1`, and because there's no a endpoint that allows `OPTIONS`, the API will throw a "Method Not Allowed" error, unless CORS is enabled.

[2019-02-08 20:46] jdiericks commented on #755
@WellingGuzman I made a fresh install this time with a lamp stack. I still get the same error, I am using the default config file generated from the wizard.

Here is the sample:
[code]

[2019-02-08 20:52] jdiericks commented on #755
@WellingGuzman Thank you for your help, but it seems I have found my solution. There seems to be some interference from the network at my job as I can correctly do everything on a device not connected to the network.

[2019-02-08 21:04] #755 closed

[2019-02-08 21:04] WellingGuzman commented on #755
Thanks for the update @jdiericks.

[2019-02-08 21:05] benhaynes commented on #635
We'd love to hear from a few more folks to ensure this is working — but since this patch has been released we'll close the ticket so things don't get confusing.

If anyone has any issues with using multiple projects just let us know!

[2019-02-08 21:05] #635 closed

[2019-02-08 21:15] berensn opened #759 "Internal Server Error On Install"
# Bug Report
I downloaded the latest version of directus today, uploaded via FTP and went to the correct address to go through the install process. Got through both steps and then received an internal server error.
I have a fresh new mysql database with no tables in it.

I did double check to make sure there were no typos

## Steps to Reproduce
Go to https://github.com/directus/directus/releases/t

[2019-02-08 21:21] benhaynes commented on #759
Hey @berensn...

1. Have you checked that your server meets all requirements?
2. Can you provide any relevant logs?

[2019-02-08 21:37] berensn commented on #759
Server OS is CentOS
PHP 7.2.14
MySQL 5.6
Apache 2.4
Any other requirements?

[error.2019-02-08.log](https://github.com/directus/api/files/2846953/error.2019-02-08.log)

[2019-02-08 21:43] WellingGuzman commented on #759
Hey @berensn, it seems you do not have the PDO mysql extension installed or enabled.

[code]

Can you make sure you have `pdo_mysql` installed and enabled? You can create a php file and calls the `phpinfo()` function and it will list all the extensions enabled.

[2019-02-08 21:48] benhaynes commented on #740
We have been trying but can still not reproduce this issue. I'll close it for now, but we will re-open if someone is still experiencing this (and can give us some steps to replicate).

[2019-02-08 21:48] #740 closed

[2019-02-09 00:10] shartley76 commented on #750
Hi @WellingGuzman were you able to upload a large file 100Mb plus with a docker deployment, or stand alone? If so would you mind sharing your dockerfile and/or config settings? Then I can just verify I have everything setup correctly. Thanks

[2019-02-09 09:32] AlexisWalravens commented on #758
Just upgraded to 7.0.17. It works.
Before posting this bug, I was about to update to 7.0.17 but by the time I wanted to do it the release was pulled out, so I couldn't try it.

Anyways, glad it's fixed. Thanks.

[2019-02-09 11:16] dur41d commented on #636
Hi @WellingGuzman

I think all the issues above can be solved easily by making the public directory at the root of the project. This solves:

1. The security issues as all traffic will go to index.php and (except static files: extensions, upload, thumbnail) and no other files will be exposed publicly.

2. The user can choose the location of the api in the url (ex. domain.com/myapi) just be renamin

[2019-02-09 23:46] berensn commented on #759
I enabled pdo_mysql and it installed properly. Thank you

[2019-02-10 19:36] rijkvanzanten opened #760 "API returns thumbnail urls for non-image files"
I uploaded a PDF into Directus. The API will return the thumbnail paths as defined in directus_settings, however, the actual thumbnails are a 404 not found for pdf files.

[2019-02-11 12:50] gnh1201 opened #762 "[v2.0.17] Example of API custom endpoint not working"
## Steps to Reproduce

1. I read the tutorial.
https://docs.directus.io/extensions/custom-endpoints.html#creating-custom-endpoints

2. I changed the name of the file `_example.php` in the `/public/extensions/custom/endpoints/` directory to `example.php`.

3. I tested the endpoint.
[code]

Can I see what I did wrong?

[2019-02-11 14:02] benhaynes commented on #383
I'll keep this open since it's something we'll want to look into eventually.

[2019-02-11 14:03] benhaynes commented on #364
Seeing the success of other Node-based platforms, the simplicity of install, and the total use of JS... I think this is still worth discussing.

[2019-02-11 15:28] WellingGuzman commented on #760
What do you think should be best here: `null` or empty array (`[]`)? I prefer `null` as to me it seems to mean, "there wasn't suppose to be something here", same with `embed=null` when it's not an embedded file.

[2019-02-11 15:30] WellingGuzman commented on #759
Thanks for the update @berensn!

I will close this in favor of https://github.com/directus/api/issues/622, where Directus should warn of missing requirements.

[2019-02-11 15:30] #759 closed

[2019-02-11 15:36] WellingGuzman commented on #762
Thanks @gnh1201 for reporting this, I am going to give this a look.

[2019-02-11 15:53] WellingGuzman commented on #762
I wasn't unable to reproduce it either on `2.0.17` nor `master`. Can you try testing this on the `master` branch? renaming `_example.php` to `example.php` should work. and accessing the endpoint should be `curl http://directus.local/_/custom/example`

In the other hand, I am experiencing this bug, when the path doesn't exists:

[code]

[2019-02-11 16:12] benhaynes commented on #760
Let's do `null`... that seems to make more sense.

[2019-02-11 16:16] samvasko opened #763 "WYSIWYG does not have a readonly state"
# Bug Report

## Steps to Reproduce

1. Create a collection with WYSIWYG simple field
2. Create item in that collection
3. Set the field as readonly
4. Attempt the edit the item

## Expected Behaviour
The view should not be editable and should look disabled.

## Actual Behaviour
The editor is fully functioning but does not save

## Other Context & Screenshots
![screen shot 2019-02-11 at 16 13 25](

[2019-02-11 16:20] samvasko commented on #763
I think this can be fixed easily by addding this to the editor parameters.
[code]

[2019-02-11 18:26] WellingGuzman commented on #748
Based on the error code (`22001 - 1406`), which means `Data too long for column x`, the error is related to a column that cannot store the data being sent.

There's nothing we can do for this error rather than create a friendly error message.

@rjwismar let me know if this seems to be the problem in your case. Does this happen to one collection in specific? or any table with huge fields or lots of

[2019-02-11 19:08] #760 closed

[2019-02-11 19:10] WellingGuzman commented on #760
This was fixed by https://github.com/directus/api/commit/bd05cfa8ecc8de60896915f166b2bad68e986359.

All non-image files will return `thumbnails=null`, except `embed/` types files which technically are not images, but they point to a image file.

[2019-02-11 20:00] WellingGuzman commented on #750
Hey @shartley76, it was hard for me to know what was the error without seeing the logs in the API.

I created a dummy 100mb file, and I am now getting an error on bigger files. I don't know why I wasn't before. The issue is the code trying to verify that a huge string is not an url.

I am working on a fix right now. We would need to replace this function: https://github.com/directus/api/blob/maste

[2019-02-11 20:14] yarick2000 commented on #762
Hello, I also was trying to make a call to example custom endpoint which code is located in public\extensions\custom\endpoints_example.php file. I've renamed _example.php to example.php and was trying to make an authenticated GET call to the following route: /myproject/custom/example.
Basing on the code inside of this file I should get a response with the following array:
['item 1','item 2']
But i

[2019-02-11 20:55] WellingGuzman commented on #762
@yarick2000 I am aware of that one, I will be fixing it soon. Although it seems you are not using the correct path to the endpoint. If you go to `http://yourhost/<project>/custom/example` you should be able to see the response below:

[code]

If you request an unknown endpoint even adding trailing slash `http://yourhost/<project>/custom/example/` it will throw that error, otherwise you shouldn't b

[2019-02-11 21:15] WellingGuzman commented on #750
Hey @shartley76, I believe I have fixed what was triggering the 500 internal error. In my end I am not experience this issue anymore on big files.

I based the validation using regex, instead of `filter_var`. I ported the patterns/logic from this JS library: https://github.com/segmentio/is-url/blob/master/index.js.

Can you confirm it's working for you on `master` branch?

Ref: https://github.com/

[2019-02-11 21:26] yarick2000 commented on #762
Sorry that I just gave a route and not the full url. Here is what I was using:
http://directus.pinnacle.com:82/myproject/custom/example

[2019-02-11 21:35] WellingGuzman commented on #762
From your request/response, I can't tell where is the actual path of the request being made or the actual response (in json).

I made a fix for the invalid third argument. At least that one should be fixed. If you were getting that error is likely you are going to get a `404 not found` error.

Ref: https://github.com/directus/api/commit/93b53bf9167b36ebff1258fe7b3550f9d4a4aa1e

[2019-02-11 21:39] computerwizjared commented on #750
Hey @WellingGuzman I tried with that patch and I seem to still be getting a 500 when uploading this test file: http://ipv4.download.thinkbroadband.com/200MB.zip.

[2019-02-11 21:46] WellingGuzman commented on #750
@computerwizjared can you show me the full log? I am going to try using the 200MB and see if I can reproduce it.

[2019-02-11 21:53] WellingGuzman commented on #750
@computerwizjared Did you try upload the file via url? I found an issue uploading non-image files using url. Uploading files using url only works with image at the moment. That error message should be more friendly.

[2019-02-11 21:57] computerwizjared commented on #750
@WellingGuzman I am uploading the file using the built-in Directus App method... not sure if that is via url or not. And after switching to the `development` environment I am getting a `200 OK` but the UI still shows a red error like before. I do have the PHP `memory_limit` set to 450M in my Dockerfile, as well as the other upload size settings.

Log Message:
```[11-Feb-2019 21:46:47] WARNING: [po

[2019-02-11 22:02] WellingGuzman commented on #750
I am going to properly fix this bug, I didn't though it was going to be a problem, but I am going to reduce the passing around the file content and encoding decoding the base64 content.

It's not related to the configuration but the API handling big files poorly,  keeping these huge data on memory instead of saving into disc as soon as possible to avoid the high memory usage.

I will let you know

[2019-02-11 22:04] shartley76 commented on #750
@WellingGuzman are you able to push any changes for the api to the directus/api docker registry? I'm running docker (linux containers) on windows locally. Many thanks!

[2019-02-11 22:14] WellingGuzman commented on #636
@dur41d the problem there is that by default most "private" files will be exposed to the public including the `vendor`, `config`, and `logs` directories. Again this can be solved using `.htaccess` and forbid some path.

I don't prefer these approach to avoid direct access to files, but what everyone else think about this?

[2019-02-11 22:26] WellingGuzman commented on #750
@shartley76 I couldn't push any changes, as I am not working with the docker image. @WoLfulus may be able to help you.

I will be working on a proper fix to avoid huge files crashing the server.

[2019-02-11 22:48] computerwizjared commented on #750
Hey @shartley76 I ran into trouble trying to test Directus changes with Docker and the best way I found was to just grab the modified files and use the Dockerfile `ADD` command to put them into the image, then build and run it.

[2019-02-12 03:06] shartley76 commented on #750
Thanks @computerwizjared , good idea, will do.

[2019-02-12 09:05] KKAries opened #765 "Cannot save item with default value of checkbox"
# Bug Report

## Steps to Reproduce

1. Create a collection with checkbox and set the default value
2. Create a item of the collection and do not change the checkbox value
3. Save the item and see nothing happens
4. In the browser console, there is a error saying `"<checkbox_field_name>: This value should be of type array."`

## Expected Behavior
The item should be saved successfully. Also, I thin

[2019-02-12 09:17] KKAries opened #766 "Cannot use Datetime interface"
# Bug Report

## Steps to Reproduce

1. Create a collection with Datetime interface
2. Create a new item and set the Datetime field
3. Save item
4. See error in browser console - `"datetime_field_name: This value is not a valid datetime."`

## Expected Behavior
Datetime interface working properly.
## Actual Behavior
Cannot save item with datetime interface.
## Other Context & Screenshots

## Techn

[2019-02-12 13:44] dur41d commented on #636
@WellingGuzman  yes the .htaccess will direct all the traffic to index.php except for few exceptions (extensions, thumbnail, etc). I'm thinking even to put all content that need direct access under the public folder this way the .htaccess rules are even simpler: all traffic -> index.php except for public. This way you don't need to change the .htaccess if you add other public content.

so the fold

[2019-02-12 14:35] yarick2000 commented on #762
So what other information you need from me in order to get more details about the issue? I see the changes you've made and understand they not fixing the issue but the error handler...

[2019-02-12 15:00] yarick2000 commented on #762
Hey, sorry, I've figured out that directory endpoints are working for me, so the issue only with file endpoints (if file located right under custom/endpoints folder, like example.php)

[2019-02-12 16:47] benhaynes commented on #762
@WellingGuzman — is there something we can add to the docs or example file to make this clearer?

[2019-02-12 19:58] kubowler99 opened #767 "Steps for adding a new project manually"
Not an issue, just a question -

What are the steps to create a new project manually?

Is it simply:

- Create a new config/api.<project-name>.php file
- Update public/admin/config.js to reflect the new api url
- Update the .gitignore file to exclude the newly created config/api.<project-name>.php file
- Execute the src/schema.sql script against the new database for your new project

Assume latest

[2019-02-12 20:24] rijkvanzanten commented on #767
That sounds about right!

I don't think this is necessary, as everything is ignored by default except for the migrations and sample files 🙂

[2019-02-12 20:24] #767 closed

[2019-02-12 20:41] maxsivanov opened #768 "Oauth using auth0.com"
# Feature Request

Add support for Auth0 oAuth provider

## What problem does this feature solve?
Many companies use Auth0 as provider.

## How do you think this should be implemented?
Same as OKTA integration

## Would you be willing to work on this?
I can participate as far as I know modern PHP

[2019-02-12 22:01] benhaynes commented on #768
@WellingGuzman any initial thoughts on how difficult this would be to implement?

[2019-02-13 04:09] gnh1201 opened #769 "[v2.0.17] Reading items of collection was denied but I allowed it"
There is a problem in some collections that ACLs do not work.
I checked to allow reading, but I was denied. What should I do to debug this problem?

[code]

try 1) `GET /_/items/collection_a` -> reading works well.
try 2) `GET /_/items/collection_b` -> reading denied.

[code]

[2019-02-13 04:21] gnh1201 opened #770 "[v2.0.17] Incorrect trim on Locale"
I had mentioned a similar problem in #740.
Since there was no major inconvenience, I decided to use it as it is,
but I found that the problem has spread to the locale after the version upgrade.

the 'en-US' is now displayed as 'n-U' in my User Directory.
https://i.imgur.com/GEm8GKc.png

[2019-02-13 05:52] ceruulean commented on #770
Check the datatype of your database column? Is it large enough to hold the data?

[2019-02-13 12:21] kubowler99 commented on #767
Ok, and that's what I thought as well. But what I'm seeing is whey attempting to log in to the newly created project for the first time as 'admin@example.com', I'm getting 'user not found' error in the browser console (I've verified the user table in the mysql database does contain the admin@example.com user.

I'm also getting a 500 internal server error in the console as well.
<img width="1432" a

[2019-02-13 13:30] WellingGuzman commented on #770
Have you tried using the app and then the API and see if the problem happens on both end?

This is odd bug that we would like to solve.

- How the HTTP request body looks like? Does the app sends the full string (`en-US`) and the api responds with `n-U`?
- Are you on MySQL, MariaDB or any similar databases?
- What browser are you using?
- Any custom hooks/interface installed?

I am still not being

[2019-02-13 13:32] WellingGuzman commented on #769
@gnh1201 can you share a database schema (sql database dump) that we can use to reproduce this issue?

What differences have these collections? Does one of them have status field?

[2019-02-13 13:36] benhaynes commented on #770
@rijkvanzanten — could this be an App/Interface issue? Have you seen this before?

[2019-02-13 13:41] WellingGuzman commented on #768
There's already a provider for auth0 in the [oauth-client providers list](https://github.com/thephpleague/oauth2-client/blob/master/docs/providers/thirdparty.md#third-party-providers). It should be straightforward to implement it.

[2019-02-13 13:59] WellingGuzman commented on #762
@benhaynes I think there's should be a issue on loading the files apparently, I don't think there's nothing we can make more clear about it. Well, because I don't actually know what the issue is here.

@yarick2000 can you list the files in `custom/endpoints`. I see you are making the request using postman, can you click below the "Send" button the "code" button, and pick `http` from the top left l

[2019-02-13 14:54] shealavington commented on #770
I've noticed the same issue while at work — the timezone is empty and the locale is partial.

The issue started after manually modifying the `timezone` default in `directus_users` to be `Europe/London`. I'm not saying that's the cause, there were a few other variables I changed, however this is what stands out to me; hopefully that helps.

This is possibly an app-issue as looking at the network re

[2019-02-13 14:58] yarick2000 commented on #762
Sorry, I didn't found the Generate Code Snippet there, but I can give a raw request/response print:
For directory:
GET /myproject/custom/directory
cache-control: no-cache
Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6MSwiZXhwIjoxNTUwMDY5NjQxLCJ0eXBlIjoiYXV0aCIsImtleSI6Ijc4MzMzODMzLTg2ZDctNDYwNC1iM2Q3LWRhMDgwNmM5NTkxMCIsInByb2plY3QiOiJjYXNpbm8ifQ.EN7cFV8zWZNQNf67DFwphp6vfPe78Tg

[2019-02-13 15:07] WellingGuzman commented on #762
@yarick2000 you are still getting "Internal Server Error". can you share what's on your logs directory?

Are you still getting the error below or is it something new?

[code]

[2019-02-13 15:10] rijkvanzanten commented on #770
Haven't seen this before.

This "Draft" saving as "raf" does indicate a similar problem however.

[2019-02-13 15:17] rijkvanzanten commented on #767
Hmm not too sure what's causing that.. Do you mind opening a new ticket for that issue specifically? A 500 internal should never happen. It would help a lot if you could share a dump of the database and what tech stack you're using too 🙂

[2019-02-13 15:24] samvasko opened #771 "Users should default to timezone configured in api.php"
# Bug Report

Default timezone for users is 'America/New_York'.

## Expected Behavior
The users inherit the timezone from the ~server~ api configuration.

## Actual Behavior
Timezone is set to 'America/New_York'.

## Other Context & Screenshots

Relevant code for admin creation:

https://github.com/directus/api/blob/368684beeb226c1b33af72619abf68ed7631e55a/src/core/Directus/Util/Installation/Insta

[2019-02-13 15:35] yarick2000 commented on #762
I didn't change the version - I'm still on 2.0.17, so yes, I'm getting Internal Server Error. Was 2.0.18 already released?
This is what I have in logs for now:
[2019-02-13 09:56:34] api[casino].ERROR: ArgumentCountError: Too few arguments to function Directus\Application\ErrorHandlers\NotFoundHandler::__invoke(), 2 passed in D:\Git\github\directus\api\vendor\slim\slim\Slim\App.php on line 531 and

[2019-02-13 16:50] benhaynes commented on #770
Yeah, the `length` being too short would truncate the _end_ not the beginning. I think this trim issue persists.

[2019-02-13 16:56] benhaynes commented on #771
@WellingGuzman @rijkvanzanten — is this App or API? I guess we want to have users created directly in the API to follow this too.

[2019-02-13 17:05] WellingGuzman commented on #771
@benhaynes This is API.

Hey @samvasko to make it clear when you refer to the server timezone you referring to the actual server timezone, and not the php default timezone on the server (`php.ini`), correct?

[2019-02-13 17:09] WellingGuzman commented on #771
Based on the title you are talking about the timezone in the project configuration to be used instead of the static `America/New_York`.

In other hand the `schema.sql` file will be always set to `America/New_York`, (reads cannot be configured) we generated this file from the migrations files.

[2019-02-13 17:40] samvasko commented on #771
I would *expect* the default timezone to be the one in `api.php`. I that one is not configured then it should be the system one. 🤷‍♂️

You are right. I thought that the .sql was the source. The migration contains New York as well.
https://github.com/directus/api/blob/368684beeb226c1b33af72619abf68ed7631e55a/migrations/db/schemas/20180220023248_create_users_table.php#L64

[2019-02-13 17:47] samvasko commented on #771
I guess the options would to either:

1. Read the config file during migration and admin creation
2. Default to UTC

[2019-02-13 18:58] WellingGuzman commented on #771
Correct, but we can configure that to fetch the default timezone before creating the project.

Exactly, fallback to _something_ when the default timezone is empty.

[2019-02-13 21:06] WellingGuzman commented on #762
Hey @yarick2000, can you try testing the latest from `master` branch? That error in particular was fixed, and I would like to know what are you getting 404.

Is the `example.php` file all lowercase? Maybe is a issue with case-sensitive.

[2019-02-13 21:47] #771 closed

[2019-02-13 22:32] samvasko commented on #771
🍾

[2019-02-13 23:01] benhaynes commented on #767
I'd love another set of eyes on this, but I've created a new "Projects" guide to start organizing info.

https://docs.directus.io/guides/projects.html

🔔 @rijkvanzanten

[2019-02-14 00:33] benhaynes commented on #367
Hey @Pomazan-Bogdan — I think that's how @hemratna is building this. We should have a working demo soon and then we'll post a dev link here for review.

[2019-02-14 12:33] yarick2000 commented on #762
Hi, I will check the master when I will have time. Since I succeed with directory based endpoints this issue became less important for me. The name of example.php is lower cased - I just removed the underscore.

[2019-02-14 14:43] gnh1201 commented on #769
This problem has been fixed by adding the status field to collection.
But I wonder why ACLs only work with the status field.

[2019-02-14 17:26] theharshin opened #773 "Can't delete M2M items in random order"
# Bug Report

## Steps to Reproduce

1. Create a new collection named `genre`
2. Add some items to it
3. Add `genre` as M2M on `movies` collection
4. In a movie item, add some genres
5. Now try to remove the the `genre` except the last one

## Expected Behavior
It should allow to remove any item irrespective of an order.

## Actual Behavior
You must delete items in LIFO order.

## Other Context &

[2019-02-14 20:08] benhaynes commented on #769
You should only _need_ a status field if you want to use the "workflow" permissions.

@WellingGuzman any idea what's up here?

[2019-02-14 23:11] dban0001 commented on #364
I vote for Go because of type-safety :laughing:

[2019-02-15 15:36] rijkvanzanten opened #775 "Add `slug` and `hash` field types"
# Feature Request

Add field types for slug and hash that will automatically validate / generate a slug / hash.

## What problem does this feature solve?

Right now, the slug and password / hash interfaces respectively have hooks for this system functionality. While interfaces still need to be able to have hooks, we'd like to move the core app interfaces into the app repo, to get rid of all the co

[2019-02-15 16:57] samvasko opened #776 "Provide UI for password reset"
# Feature Request
Create a UI for the password reset feature so when you click on the link in the email you see something like:

## What problem does this feature solve?
Its confusing to just see `{public: true}` when clicking on the password reset field.
![screen shot 2019-02-14 at 14 48 55](https://user-images.githubusercontent.com/2674600/52871828-db65df80-3142-11e9-92cf-0f7f56af691d.png)

## H

[2019-02-15 17:02] rijkvanzanten commented on #776
@WellingGuzman Can this redirect back to the application URL?

[2019-02-15 23:21] rijkvanzanten commented on #689
Only admin accounts in the default `_` project have the ability to remove projects.

[2019-02-16 05:40] samcus opened #777 "Groups Param Not Working"
## Issue
Using the groups functionality as documented (https://docs.directus.io/api/reference.html#groups) leads to error 9 SQL error. Am I doing something wrong here?

## Version Info
  - Directus API version (Or commit hash): Directus Demo
  - PHP version: Directus Demo
  - MySQL version: Directus Demo
  - Web server: (Ex. Apache, nginx or IIS?) Directus Demo
  - OS name and version: Directus De

[2019-02-16 19:26] samvasko opened #779 "API should validate collection name"
# Bug Report

## Steps to Reproduce

1. Go to create collection
1. Create collection with invalid name eg " " or " 34"
3. API crashes and does not respond.

On app the following error is shown

## Expected Behaviour
Error is returned, validation is done on server and/or client side

## Actual Behaviour

API responds with "500 Internal Server Error"

## Other Context & Screenshots

See mysql naming

[2019-02-16 20:51] jorauch opened #780 "Custom endpoints for page extensions"
# Feature Request
For more complex page extensions it will be great to have custom endpoints/parameters too.

EXAMPLE
https://directus.app/#/ext/[custom-page]
https://directus.app/#/ext/[custom-page]/[id]
https://directus.app/#/ext/reports/
https://directus.app/#/ext/reports/1
https://directus.app/#/ext/reports/2
https://directus.app/#/ext/reports/3

## What problem does this feature solve?
Within

[2019-02-16 21:11] rijkvanzanten commented on #780
Do you refer to custom endpoints in the API that the app can use? Or the ability to define sub-routes in the application itself?

The example URLs you provided suggest the second?

[2019-02-16 22:03] samvasko commented on #779
I might have jumped the gun a bit here. I am getting correct error now. I guess the 500 could've been caused by some other cause.

[2019-02-16 22:03] #779 closed

[2019-02-16 22:06] rijkvanzanten commented on #779
Can you accurately reproduce the 500 though? I'd love to find out what the cause is!

[2019-02-16 22:30] jorauch commented on #780
I want the ability to define sub-routes after /ext so i can extend the custom page-extensions (like described here https://docs.directus.io/extensions/pages.html)

It may already be possible to extend the endpoints and I have not understood the documentation correctly (https://docs.directus.io/extensions/custom-endpoints.html). But I understand the documentation so that only "endpoints" can be ext

[2019-02-16 22:34] samvasko commented on #779
No :(

[2019-02-18 14:35] pgegenfurtner opened #781 "Translations don't get saved"
# Bug Report
I set up translations like described in the docs (https://docs.directus.io/guides/relationships.html#translations).

Every time I wan't to save, I get a 500 internal server error.

Example (PATCH):
Request Url:
`http://directusurl/_/items/brand/8?fields=%2A.%2A.%2A.%2A`

Request Payload:
`{"translations":[{"brand_translation":"de","description":"Deutsch"},{"brand_translation":"en","de

[2019-02-18 14:56] rijkvanzanten opened #782 "Datetime doesn't allow milliseconds"
# Bug Report

Submitting `2019-03-01T19:47:00Z` works as expected, `2019-03-01T19:47:00.000Z` throws an error `date_time: This value is not a valid datetime.`

## Solution

I think an extra option needs to be added to this section:

https://github.com/directus/api/blob/0ff430f827335ddbda5505a630da3d045759a01a/src/helpers/all.php#L1712-L1811

[2019-02-18 20:35] fl034 opened #783 "Error adding interfaces to existing columns with camelCase naming"
# Bug Report

## Steps to Reproduce

1. Enable managing of existing MySQL (5.6) table.
2. Try to add interface (e.g. relation or datetime) to a field with a camelCase name
3. Getting error message `Column already exists: 1060 Duplicate column name "myColumnName"`

## Expected Behavior

Being able to use Directus on columns with camel case naming.

## Actual Behavior

UI shows nothing, but error in

[2019-02-18 22:41] benhaynes opened #784 "Filter on O2M and M2M not working"
It's saying `Unable to find field "movie"` which makes sense since it's an ALIAS.

[code]

@WellingGuzman can you write docs on how this should be done? Or, if it's not working, why.

[2019-02-19 02:44] KKAries opened #785 "Cannot save item with datetime interface that set default to current time"
# Bug Report

## Steps to Reproduce

1. Add a datetime field and set the "Default to current datetime" to true
2. Create an item and see the datetime field is set to the current time
3. Save the item
4. See the error "This value is not a valid datetime."

## Expected Behavior
Item saved successfully
## Actual Behavior
Cannot save item.
## Other Context & Screenshots

## Technical Details

API 2.0.

[2019-02-19 08:21] Pomazan-Bogdan commented on #367
I have a question on implementation.
based on how directus now works, work with graphql should be based on the principle of the first scheme.
Based on this, directus should generate it, and there should be a database that can work this way, and this could be a dgraph for example and not a SQL database.
Then there will be no need to write a generator complex schema generator.

[2019-02-19 09:33] KKAries opened #786 "Upload a file receive 500 Internal Server Error"
# Bug Report

## Steps to Reproduce

1. Login to Directus
2. Navigate to File Library Page
3. Click new
4. Drag a image to the Upload Files window
5. Error happens.
Response error:

[code]

## Expected Behavior
File can be saved.
## Actual Behavior
Upload file doesn't work.
## Other Context & Screenshots

## Technical Details

APP 7.0.18 and API 2.0.18

[2019-02-19 14:17] benhaynes commented on #780
@rijkvanzanten @WellingGuzman 🔔

[2019-02-19 14:24] benhaynes commented on #783
I assume the field you are trying to add is already in the database and you are just trying to "turn it on" within Directus?

It seems we would want to do something similar to tables/collections in the App... show any that already exist (disabled) and add a button for them to become "managed".

@rijkvanzanten thoughts?

[2019-02-19 14:30] fl034 commented on #783
Exactly. And it's working just fine for all other table columns that don't have camel case.

[2019-02-19 14:42] benhaynes commented on #775
@WellingGuzman — status of this?

[2019-02-19 15:00] benhaynes commented on #785
Thanks @KKAries — we're on it!

[2019-02-19 15:04] benhaynes commented on #783
Interesting. Does the App let you type capital letters into the field name? I thought it "sanitized" them by making them all lowercase. If so, the fix would probably be a override to the "strict" naming filter for fields/collections.

In the meantime, you should be able to update this in the database directly within: `directus_fields`

[2019-02-19 15:51] rijkvanzanten commented on #780
Right now you can have sub-routes in custom API endpoints, but not in custom pages in the application.

You can't define sub routes at the component level in vue-router (yet) https://github.com/vuejs/vue-router/issues/298 so I'll need to think about a way to implement a similar functionality by adding the routes programmatically using
https://router.vuejs.org/api/#router-addroutes

[2019-02-19 15:53] rijkvanzanten commented on #783
Curious to see if this is caused by the app, or if the API doesn't handle capital letters correctly

[2019-02-19 16:26] fl034 commented on #783
The app won't let me enter capital letters in the name field. But when I select an existing (camelcased) column, the name is shown lowercased and produces the error message above.

I'll try your workaround by editing the database directly :-)

[2019-02-19 20:36] DeFUCC opened #787 "Can't sort items randomly"
I try to get 3 random items from the database. Here's the code:

[code]

But I get "Internal server error" as a request. Sorting by field names (even with minus in front) works great, just to mention. ;) Maybe I do simething wrong? The JS SDK docs don't show the exact filtering procedure.

[2019-02-19 21:52] rijkvanzanten commented on #787
@DeFUCC Could you check if there's anything useful logged in the `/logs/` folder? That might give us a heads up of what the problem is

[2019-02-19 22:05] DeFUCC commented on #787
The logs don't show any particular errors after such calls. There are mostly expired token errors in logs.

[2019-02-19 23:20] dev7ch commented on #783
I assume this could be solved quickly by remove `toLowerCase` in the app here:

https://github.com/directus/app/blob/master/src/components/modals/prompt.vue#L94

The DB name is saved in CamelCase (tested locally)

[2019-02-20 14:40] dev7ch commented on #783
can this simply be removed ?
If you want i can send a PR.

[2019-02-20 17:09] #689 closed

[2019-02-20 17:16] WellingGuzman commented on #689
Things about deleting projects (As we agreed on):

- Admin from any projects are allowed to delete projects.
- the default project is required deleting the default project won't allow any admin to delete any projects. In other word the API will be in a "not installed properly" state.
- We want to restrict who can delete projects, and not requiring the default project to be configured in order to d

[2019-02-20 17:30] #707 closed

[2019-02-20 17:43] WellingGuzman commented on #707
The following options are now supported: `cache`, `storage`, `mail`, `cors`, `rate_limit`, and `social_providers`.

Docs: https://github.com/directus/docs/blob/master/api/reference.md#body-23

Ref: https://github.com/directus/api/commit/056ccc0bd875c28656bbbd90f3780a2d69b51c1f

[2019-02-20 17:48] WellingGuzman commented on #775
@benhaynes starting to work on it. I was working with https://github.com/directus/api/issues/707 and https://github.com/directus/api/issues/689.

[2019-02-20 21:02] yarick2000 opened #789 "Add ability to customize list of supported middlewares for custom endpoints routes"
# Feature Request
Add ability to customize list of supported middlewares for custom endpoints routes

## What problem does this feature solve?
Custom endpoint may use some of the core services that may require some data provided by middleware, such as authentication data, for example. By giving ability to select which middlewares should be loaded for the project you giving an option to developers

[2019-02-20 21:04] #775 closed

[2019-02-20 21:18] WellingGuzman commented on #775
Two new data types has been added `slug` and `hash` by https://github.com/directus/api/commit/686a2a7161a03949e2cf12635a69e541186920a2.

The `slug` interface uses [cocur/slugify](https://github.com/cocur/slugify) package, and any of its options can be used. There's a two options that came from the `slug` interface, `mirroredField` and `forceLowercase`. `forceLowercase` has priority over `lowercase

[2019-02-20 22:01] WellingGuzman commented on #787
Thanks for reporting this @DeFUCC. I was able to reproduce it. I am going to find what the bug is and fix it on Friday.

Here is the error in the logs (without the stack trace):

[code]

[2019-02-20 22:02] WellingGuzman commented on #783
This is related to the app, the API doesn't "clean" the field name, it create it as you send it.

[2019-02-20 22:04] WellingGuzman commented on #786
Did you upgrade the database schema? There's a new field in `directus_files` named `checksum`.

Run the command below to add the missing field, it should be working after the upgrade.

[code]

[2019-02-21 02:56] KKAries commented on #786
@WellingGuzman You're right. The upload now works. Thanks.

[2019-02-21 02:56] #786 closed

[2019-02-21 16:22] PostPollux opened #790 "Can't update any user as admin"
# Bug Report

I can't update any user as admin, not even the admin user itself

## Steps to Reproduce

1. host a directus api v 2.0.16 via docker ( I guess it doesn't have to be docker, but that's how I did it)
2. login with admin account
3. create a new user and save it
4. klick that user again and change some stuff
5. try to save the changes
6. notice, how it does not work

## Expected Behavior

[2019-02-21 16:50] PostPollux opened #791 "Can't change any user as admin"
# Bug Report

I can't update any user as admin, not even the admin user itself.
Creating and updating collections, entires, roles/permissions... all work.

## Steps to Reproduce

1. host a directus api v 2.0.16 or 2.0.18 via docker ( I guess it doesn't have to be docker, but that's how I did it)
2. login with admin account
3. create a new user and save it
4. klick that user again and change some s

[2019-02-22 13:53] alrick commented on #635
I'm a bit late but I can confirm the problem is solved with the latest update !

[2019-02-22 13:54] WellingGuzman commented on #769
That's correct @gnh1201, you only need the status field if you want to use the workflow. Unless the permission was created for workflow without having a status field.

If adding the status field fixed it, it meant the workflow permission was created for a collection without status field.

[2019-02-22 14:15] WellingGuzman commented on #791
This is an app bug. I experienced this before but wasn't able to understand why or how to reproduce it.

I cannot reproduce it at the moment. The bug is that the app tries to update the user using `/items/directus_users` endpoint instead of `/users` endpoint.

That's why you receive the following error:

[code]

[2019-02-22 14:42] WellingGuzman commented on #785
Hey @KKAries, where is the "Default to current datetime" option? What is the value that the app sends to the API when the "This value is not a valid datetime." error is thrown?

[2019-02-22 15:20] WellingGuzman commented on #777
@samcus can you run the query directly in your database?.

In reality this `groups` param doesn't work as you expect it to be, grouping the result based on a field. It's rather a raw SQL command to just add `GROUP BY` blindly. This error is likely to be unmatched columns in `SELECT`, `ORDER BY` and `GROUP BY`. Check if you have `ONLY_FULL_GROUP_BY` mode enabled in your MySQL settings.

I will upda

[2019-02-22 19:35] WellingGuzman commented on #784
The issue here was that `movie` is not a field of `o2m` type. That's why it throws the following error:

[code]

Ideally this should throw an error saying the field is not a O2M field, or something more clear.

The request should have as below:

[code]

At the moment it doesn't work because there's a bug with `has` creating an incorrect query. See: https://github.com/directus/api/issues/576

[2019-02-22 19:41] WellingGuzman commented on #782
Currently it doesn't support milliseconds, it couldn't either save those milliseconds to the `DATETIME` field in MySQL.

To support this it probably needs to support a string type for the DATETIME and save it as is.

[2019-02-22 20:01] WellingGuzman commented on #717
If an user has read blacklist permission set to a field it shouldn't be able to filter by its content. This is a similar issue that was reported with https://github.com/directus/api/issues/667.

[2019-02-22 20:12] WellingGuzman commented on #627
Another thing to add here is because at the moment we can't tell what field store the owner of `collection_presets`, we can't properly verify the permission using `mine` or `role`. The API tries to look for a field `user_created` type, and this should change for another field for owner, and one case of author this can be either a new type or a fixed logic.

[2019-02-22 20:20] WellingGuzman commented on #455
The endpoints should validate the whole payload before starting to work with it to prevent incorrect data type in relational/nested data during the process. This could prevent problems where one query can be performed and the other failed.

[2019-02-22 20:34] WellingGuzman commented on #440
Dropping constraint doesn't work on Zend DB. I am not aware if there's a workaround. If we want to support we either create a workaround in Zend DB or Directus itself.

[2019-02-22 22:23] #787 closed

[2019-02-23 05:30] samcus commented on #777
@WellingGuzman I was just reading through the docs and testing things out on the Directus Demo API before I setup my own environment. So I can't verify that at this time. The docs definitely made it seem like I could group items by a field (but maybe I'm interpreting it incorrectly). Any field I try results in a similar error message to the one above.

[2019-02-26 12:39] Kinzi commented on #726
Guys please don't forget this! 🙏

[2019-02-27 14:13] Workaja opened #795 "Cannot save id 11 on database (Thumbnail dimension)"
# Bug Report

## Steps to Reproduce

1. Login
2. Access Admin Settings from dropup menu on the bottom left screen
3. Go to Global Settings
4. Change Thumbnail Dimensions data, for example click the thumbnail size (default 200x200) then add new 100x100
5. Click submit on the right top
6. See error

## Expected Behavior

It save the data

## Actual Behavior

It show error which it cannot save Thumbn

[2019-02-27 15:06] benhaynes commented on #726
We haven't forgotten it — Welling has left the Directus Org and was replaced with a new API Lead. It'll take a little time to get back up to speed with things.

[2019-02-27 15:14] benhaynes commented on #795
Interesting. We can check this on the latest version...

[2019-02-27 20:56] Syndesi opened #796 "Add an index-option for fields"
# Feature Request
Add an option to add named indexes to fields, possibly multiple fields. Fulltext-indexes in particular could be very powerfull for blog-like schemas.

## What problem does this feature solve?
This would improve the speed of the application, if used in the right ways.

## How do you think this should be implemented?
Maybe as part of the collection itself since indexes can be based

[2019-02-27 22:05] benydc opened #797 "serverInfo request fails on nginx"
# Bug Report

## Steps to Reproduce

1. Clone directus api from master
2. Use nginx with php-fpm server to serve the data
3. Use Directus Web with api served by nginx
4. Login to Directus Web and check browser logs for CORS and 405 Not Allowed request in Network

## Expected Behavior

Retrieve server info succesfully when making the request to endpoint `/` using nginx

## Actual Behavior

Cannot r

[2019-02-28 04:13] Workaja commented on #795
I got similar error with logo (id 4)
![image](https://user-images.githubusercontent.com/40653902/53540850-c5481e00-3b49-11e9-82f7-047695b92405.png)

[2019-02-28 05:43] cesasol opened #798 "Relations with string as primary key doesn't work"
# Bug Report
Relationships doesn't work when using string based relation for example a slug relation or in the future with UUID

## Steps to Reproduce

1- Create a collection with a varchar primary key
2- Create another collection and set a one to many or many to many relationship to the first collection
3- It will sabe to the database but will not follow relations with things like fields=*.*

##

[2019-02-28 19:48] rijkvanzanten opened #802 "Add php max upload size to htaccess"
# Feature Request

Apparently a couple server types (LAMP stacks too) support setting php values in .htaccess. It could be beneficial for Directus to set a default max upload size on the projects .htaccess, to make sure the user isn't limited by the default 2MB upload size

## How do you think this should be implemented?

Add

[code]

to the `.htaccess` file in `/public`

What would be the ideal d

[2019-02-28 20:47] josephgagliardi commented on #802
Seems like a sensible default -- I think the only use-case for higher limit would be video.
50MB is probably enough for a 3-4 minute video clip.

[2019-02-28 21:33] yarick2000 opened #803 "Add auto-loading for custom endpoints classes"
# Feature Request
Is it possible to include custom endpoints folder to auto loader (like Vendor folder included)? That will be really nice to have it built-in and so no need to use 'require' then. And all custom endpoints can sit then under Directus\Custom\Endpoints namespace...

## What problem does this feature solve?
It may solve several issues:
1. Potential conflicts between endpoints class na

[2019-03-01 16:07] rijkvanzanten commented on #443
@josephgagliardi any thoughts on this?

[2019-03-01 16:17] josephgagliardi commented on #443
Seems highly advisable and doable to consolidate directives to the root. I'm spotting only a few directives spread across fewer than half a dozen files.

[2019-03-01 16:27] benhaynes commented on #443
Cool. Let's make these htaccess tickets our first API task then! :)

[2019-03-01 21:21] josephgagliardi commented on #802
Closed out in pull #805
https://github.com/directus/api/pull/805

[2019-03-01 21:21] #802 closed

[2019-03-03 09:23] pgegenfurtner opened #806 "JSON Field Type"
# Feature Request
Provide a JSON Field type, like in Directus v6.

## What problem does this feature solve?
We have a field type thats helps format JSON

## Would you be willing to work on this?
If there is any documentation and maybe some suggestions how to implement definitely yes.

[2019-03-03 09:39] pgegenfurtner commented on #806
Nevermind, I found the code field type

[2019-03-03 09:39] #806 closed

[2019-03-03 16:29] aiomaster commented on #723
Hi, just in case it helps - I have exactly the same problem. I have non admin user that has the role with id=4.
The permissions are:
[code]
so he should definitly be able to upgrade his own record.
But everytime the user tries, he gets:
`Updating item from "directus_users" collection was denied`

I am using the latest docker version of app (currently 7.0.18) and api (currently 2.0.18).
Can I do so

[2019-03-03 17:28] samvasko opened #807 "Cannot change collection presents by a non admin user"
# Bug Report

## Steps to Reproduce

1. Create user in a non admin without full write permissions to directus_collection_presets table
2. Attempt to resize a column as that user
3. Error is returned due to lack of permission

## Expected Behavior
User should be able to edit `directus_collection_presets`

## Actual Behavior
Response is
[code]

## Other Context & Screenshots

[code]

## Technical De

[2019-03-03 17:34] samvasko commented on #807
I think this is because the `user` column in the presents db is not in the `DataTypes getUsersType` function and therefore the update cannot be correctly attributed.

[2019-03-03 17:45] samvasko commented on #785
I can confirm the error exists. It's due to date format being different when default. The default date is in following format:

resulting in the `{code: 4, message: "test: This value is not a valid datetime."}` error

When change is done, the format is changed to

[2019-03-03 17:57] samvasko commented on #785
Looks like symfony validator used supports only only one type of date

https://github.com/symfony/validator/blob/55a474b37a1e5e49fabfb872011425d4ab3057d3/Constraints/DateTime.php#L34

[2019-03-03 20:00] benhaynes commented on #807
Thanks @samvasko — our API Lead (@josephgagliardi) is new to the codebase, but we'll take a look and see if we can get this resolved asap!

[2019-03-03 20:24] samvasko commented on #807
I had a look. it looks like a tough one! 👍

[2019-03-04 14:51] wgodin commented on #364
Adding my vote to this suggestion

[2019-03-04 15:44] adamjgrant commented on #17
Ok thanks. I admit I don’t remember where I originally saw this issue but I’ll update from the api repo and will make a note here if I see it come back

[2019-03-04 16:17] #785 closed

[2019-03-04 20:59] kateerogers commented on #798
I am also seeing this issue with a project I am working on!

[2019-03-05 15:21] binary-koan opened #810 "Logical "or" filter doesn't work with most operators"
# Bug Report

Note: Once again I'm not sure whether this is a bug report or feature request. Let me know if I should reclassify it.

## Steps to Reproduce

**My actual use case:** Retrieve promotions which have not yet expired, i.e. `expires_at` is null OR is a time greater than now.

While trying to make this work, I discovered a bit of a can of worms with `logical=or` not working for various ope

[2019-03-06 13:22] edenprojectde commented on #179
This.

My 1GB Server with 1 CPU should usually easily take on multiple MySQL Databases, but Directus seems to really suck out the performance even when the Server is idle.

[2019-03-06 13:53] computerwizjared opened #811 "Not respecting sort column for sorting by default"
# Bug Report

## Steps to Reproduce

1. Create a table with a few rows.
2. Add some values to the table.
2. Create a sort column on the table.
3. Re-order the table's rows.
4. The API automatically returns a sort with the ID, rather than the "sort". Explicitly specifying "?sort=sort" forces it to sort by the sort value.

## Expected Behavior

The API should always use the "sort" column by default,

[2019-03-07 12:03] DeFUCC commented on #787
Waiting for the v2.0.19 release. Is it coming soon?

[2019-03-07 13:30] rijkvanzanten commented on #787
This Monday @DeFUCC

[2019-03-08 01:30] shartley76 commented on #750
HI @WellingGuzman, any update on this one? Many thanks, Simon

[2019-03-08 01:32] computerwizjared commented on #750
@shartley76 FYI Welling left the project. For now we solved this by upping the ram on the VM that runs directus. It seems the issue is a file upload uses double or more space in memory than the size of the file.

[2019-03-08 01:36] shartley76 commented on #750
thanks @computerwizjared, i'll grab latest from master and retry as you say.

[2019-03-08 22:52] futjikato opened #813 "Dynamic default action and quality for thumbnail information"
# Feature Request
Make action and quality used in generating thumbnail information in file helper configurable or dynamic in some way.

## What problem does this feature solve?
Currently the thumbnail information added to the image data is by default "crop" with quality "good".
See:
https://github.com/directus/api/blob/master/src/helpers/file.php#L210

## How do you think this should be implemente

[2019-03-09 13:06] Marcnuth commented on #686
@benhaynes any plan on this?

[2019-03-09 13:16] benhaynes commented on #686
@Marcnuth — we have plans for all of these (that's why I removed the `stale` label) but our team is super busy at the moment so it will probably be a few weeks before we'd have time. Happy to review a community PR though!

[2019-03-09 13:27] benhaynes commented on #813
Isn't this covered by the Thumbnailer configuration? I agree that we need a better way to enter these configurations.

https://docs.directus.io/guides/thumbnailer.html#thumbnail-actions

[2019-03-09 15:06] rijkvanzanten commented on #813
I'm not really following regarding the "Default thumbnail action". Doesn't it allow you to get any source based on the URL structure of the file (where the thumbnail settings act as a whitelist/blacklist)?

[2019-03-09 15:42] futjikato commented on #813
I am talking about the thumbnails array that is provided in an image.data.thumbnails. That array is generated by the "get_thumbnails" function ( get_thumbnails ) and only fetches the thumbnail dimensions from settings and generate a thumbnail URL with action crop and quality better. Doesnt matter what you configure.

[2019-03-09 16:50] rijkvanzanten commented on #813
Ahhh gotcha

[2019-03-09 20:54] futjikato commented on #813
As I am fairly new to directus I would be interested to know if this array is considered to be a good place to start in regards to generating thumbnail URLs. Sure, I could get the filename and build the thumbnail URL by myself but it feels more error resistant and maintainable to use that thumbnail array.
Currently I just eplace the string "/good/" with "/better/" and "/crop/" with "/contains/" wh

[2019-03-09 21:21] gnh1201 opened #814 "[v2.0.18] fractional part is fixed '0' to 'decimal' datatype"
# Bug Report

## Steps to Reproduce

1. Go to 'Admin Settings' -> 'Collections & Fields' -> choose collection -> modify one of `numeric(decimal)` fields -> 'Length' set '10,8' -> Save this -> Check this one -> Showing '10,0'

2. Next, Go to my database administrator (like phpmyadmin or adminer) -> check modified field -> Showing `decimal(10,0)` datatype.

## Expected Behavior
'Length' set '10,8' -

[2019-03-09 21:37] gnh1201 commented on #814
Oh. sorry. It is my mistake.... It have to use `DECIMAL` not `float`...

[2019-03-09 21:44] gnh1201 commented on #814
I was checked this issue. `decimal` is also a problem.
I edit the issue and reopen it.

[2019-03-09 21:52] gnh1201 commented on #814
Since I have not understood this issue clearly, I will close this issue...

[2019-03-09 21:52] #814 closed

[2019-03-10 20:51] gbtux opened #815 "Provide relationship collection in collection M2O field"
# Feature Request

## What problem does this feature solve?

Get relation for a Many-to-One field

## How do you think this should be implemented?

With the JS SDK, "getCollection(collection)" method, fields are provided. In this fields, for a many-to-one field (relation), Directus API return "interface": 'many-to-one'" but not the collection in relation...

For example, I have a collection "Produ

[2019-03-10 22:09] shartley76 commented on #750
Hi @computerwizjared I tried running the latest api code from master on a docker container with 1gb memory. I'm trying to upload 144Mb video file, but still getting an error on trying to upload.
I have the following config set in php.ini and default.conf;

upload_max_filesize=500M
post_max_size=1G
memory_limit=500M
max_execution_time=1000

Is there something i'm missing in terms of config?

[2019-03-11 13:17] benhaynes commented on #815
@rijkvanzanten — is this an API or JS-SDK issue?

[2019-03-11 13:27] gbtux commented on #815
Hi. I Don't really know... I read the API doc and no solution for my problem.
I Don't really know if i can have the complete description of the field (with the collection) with the API....

[2019-03-11 13:55] nacr commented on #364
Also adding my vote to this :+1:

[2019-03-11 13:55] 5and3shea commented on #815
**To simplify the request:**
It would be nice if `getCollection` would return a `"relation_collection"` key with the related collection is any, alongside the `"interface"` that it currently returns.

**More informationis probably needed here:**

Though from what I see, `getRelations('product') ` doesn't take in a product.. It may simply be incorrect usage of the endpoint?..

[2019-03-11 13:55] shealavington commented on #815
To simplify the request:
It would be nice if getCollection would return a "relation_collection" key with the related collection is any, alongside the "interface" that it currently returns.

More informationis probably needed here:

Note : I try to do a getRelations('product') but It's buggy :/

Though from what I see, getRelations('product') doesn't take in a product.. It may simply be incorrect u

[2019-03-11 14:02] rijkvanzanten commented on #813
I'm not entirely sure what a good solution would be here. If that array would return all the possible options, we'd end up with tens or even hundreds of links 🤔

The path structure of the thumbnail stays the same, so maybe we can return something like

[code]

and you could use that information to dynamically generate the URL?

[2019-03-11 14:07] gbtux commented on #815
Sorry . replace "getRelations('product')" by "getCollectionRelations('product')"

@shealavington :+1: for the simplification ;)

[2019-03-11 20:18] rijkvanzanten commented on #815
I'm pretty sure this is an enhancement request for the API to be able to return the relationships nested inside the collections info.

Right now the nested field info is hardcoded too, which is unfortunate. Ideally, the `/collections` endpoint should work the same as regular `/items` by using the `fields` parameter in order to request this information: `?fields=fields.*,relations.*` (relations wou

[2019-03-11 20:24] rijkvanzanten commented on #811
@benhaynes Not too sure if this is a bug or an enhancement 🤔

While it makes sense from a theoretical standpoint to sort by the `sort` field by default, it was never designed nor implemented that way.

[2019-03-11 20:27] rijkvanzanten commented on #807
The user needs write permission to `directus_collection_presets` in order to save their permissions. The error that was returned looks like expected behavior to me.

Am I misunderstanding the situation @samvasko ?

[2019-03-11 20:33] rijkvanzanten commented on #777
@samcus In your defense, the docs do literally state

But the API will only pass the list to the GROUP_BY section of the SQL query and will therefore act more like de-dupe.

What were you trying to achieve?

[2019-03-11 20:34] rijkvanzanten commented on #784
@benhaynes Based on @WellingGuzman's last response, I feel like this issue is actually not an issue with filters, but instead an issue with a wrong record on the demo database?

[2019-03-11 20:39] computerwizjared commented on #811
@rijkvanzanten Understood if that is the case, however it took us a bit to realize that functionality changed from v6.

[2019-03-11 20:42] rijkvanzanten commented on #769
This seems to be working as expected on our live demo (on 2.0.17 as well).

@gnh1201 could you share a database dump so we can reproduce your exact setup?

[2019-03-11 20:45] benhaynes commented on #807
I think the expectation is to have `mine` permissions to that collection. Or we're not giving users this permission by default (so it only works for admins since they have all permissions by default). Either way, this seems like a bug that needs to be fixed.

[2019-03-11 20:50] benhaynes commented on #784
Seems that way! Should we leave this open to clarify the error or close it?

[2019-03-11 20:58] rijkvanzanten commented on #784
I think we can close it, as the original issue isn't an issue

[2019-03-11 20:58] #784 closed

[2019-03-11 20:59] RuslanZavacky commented on #784
@rijkvanzanten I was following this issue as we had the same happened to completely clean database...

[2019-03-11 21:04] benhaynes commented on #811
Hmm, I agree that this is a noticeable difference from v6 (and we should call that out in the Docs). But I also agree with what Rijk mentioned. At first, it does make sense to order by `sort` by default, _but_ I'm not sure about adding a new field changing the data response order... and what if we wanted two sort fields (not even sure how that would work).

I guess it's good to make these things a

[2019-03-11 21:06] benhaynes commented on #784
@RuslanZavacky — is your issue because of `has`?

[2019-03-11 21:16] computerwizjared commented on #750
@shartley76 you're right, I'm getting a 502 gateway timeout. Upping the memory limit helped with the one error I was getting before (with a slightly smaller file) but now it's a different one.

[2019-03-11 22:49] samvasko commented on #807
Definitely a bug. The collection is configured as mine but cannot be edited.
<img width="790" alt="Screen Shot 2019-03-11 at 22 48 37" src="https://user-images.githubusercontent.com/2674600/54163122-d51c0800-444f-11e9-9346-444d5cfe29b9.png">

[2019-03-12 08:56] verbman commented on #723
I have also experienced precisely the same issue as described by @aiomaster and my permissions table looks exactly the same.

[2019-03-12 12:28] gitlabisbetterthangithub opened #816 "TinyMCE editor as an alternative to Quill.js"
# Feature Request

TinyMCE alternative to Quill.js

## What problem does this feature solve?

TinyMCE has a lot more features than Quill.js. By integrating TinyMCE, users of Directus will have the ability to choose a different WYSIWYG editor that has more features and extensions compared to Quill.js

## How do you think this should be implemented?
As a core extension
## Would you be willing to wor

[2019-03-12 13:33] benhaynes commented on #816
Thanks @gitlabisbetterthangithub — I agree that this is worth having! We have a ticket over here for tracking progress:

https://github.com/directus/app/issues/1234

[2019-03-12 13:33] #816 closed

[2019-03-12 13:58] gitlabisbetterthangithub commented on #816
My apologies. I probably should have searched the app repo first however thought this was an api issue as extensions are on the api repo. I'll add my thoughts there.

[2019-03-12 14:10] benhaynes commented on #816
No problem! @rijkvanzanten (App Lead) will be pulling extensions out of the API in the next week or so, hopefully the confusion around where extensions go will be gone. :)

[2019-03-12 14:35] rijkvanzanten commented on #807
I think it might be the same issue that's causing https://github.com/directus/api/issues/723

[2019-03-12 18:08] benhaynes commented on #813
It seems the the ideal solution is to create a custom interface for managing this array. Then we can have a proper GUI for editing the config and still save things in the current format.

[2019-03-12 18:28] rijkvanzanten commented on #813
I think you're confused @benhaynes. We're discussing the output of the API. Right now, the API returns an array of URLs to the various thumbnails, however its incomplete: It will return urls for the different sizes, but not the different qualities.

[2019-03-12 19:05] benhaynes commented on #813
Yup! Haha... didn't pay attention to the repo.

The thumbnail whitelist should set each **set** of params, which it might not be doing now. That would give explicit control over what's allowed and avoid the issue of too many combinations being returned.

We use a named quality tag, but could switch to a percentage based one to keep things easier. So a whitelisted thumb value would look like:

[cod

[2019-03-12 20:03] samvasko commented on #807
I did some debugging and before and It seems the same.

[2019-03-13 12:23] maartenvanbenthem opened #967 "Filter on many to many relation where match equals all"
# Feature Request
Adding the possibility to filter collections with a many to many relation

## What problem does this feature solve?
I have a `page` collection and a `tag` collection. I would like to filter pages that have a relation with a `tag` with title values **Tag 1** AND **Tag 2** AND **Tag 3**.

My pages table:
![image](https://user-images.githubusercontent.com/6450927/54278201-0866b000-4

[2019-03-13 13:21] gnh1201 commented on #769
This issue has been fixed by adding a status field. I will soon close this issue.
But, I can send a dump to fix another issue.
If you need it, where can I send it?

[2019-03-13 13:25] benhaynes commented on #769
Our community Slack is best — you can DM it directly to Rijk:

https://slack.directus.io/

[2019-03-13 13:41] maartenvanbenthem opened #817 "Filter on many to many relation where match equals all"
# Feature Request
Adding the possibility to filter collections with a many to many relation

## What problem does this feature solve?
I have a `page` collection and a `tag` collection. I would like to filter pages that have a relation with a `tag` with title values **Tag 1** AND **Tag 2** AND **Tag 3**.

My pages table:
![image](https://user-images.githubusercontent.com/6450927/54278201-0866b000-4

[2019-03-13 14:01] benhaynes commented on #817
Since `all` is not working, you could use something like this (filters use the logical `and` by default):
`/items/page_tags?filter[tags_id.title][eq]=Tag 1&filter[tags_id.title][eg]=Tag 2&filter[tags_id.title][eg]=Tag 3`

This could then be shifted to filter from the `pages` collection (one level deeper) so that you don't have to do a separate query for page data:
`/items/pages?filter[tag.tags_id.

[2019-03-13 14:57] alex-vasilchenko-md commented on #717
Hi @WellingGuzman !

A question related: I created a "Test" collection and in Public role I disabled all permissions.
On GET request _/items/Test I get expected response:

{"error":{"code":300,"message":"Reading items from \"Test\" collection was denied"}}

Then I set read permissions on: {"data":[{"id":1,"status":"published","created_by":1,"created_on":"2019-03-12 17:19:28","modified_on":"2019-03

[2019-03-13 15:07] rijkvanzanten commented on #717
Hey @alex-vasilchenko-md!

Hidden on detail and hidden on browse means that the interface doesn't show up in the application. What you're looking for is the read field whitelist 🙂 By default all fields are on, but you can disable individual fields

<img width="993" alt="image" src="https://user-images.githubusercontent.com/9141017/54289800-2cb99100-4580-11e9-9b17-272cb22cb564.png">

[2019-03-13 15:10] alex-vasilchenko-md commented on #717
Oh! Thanks, @rijkvanzanten! Now I got it!

[2019-03-13 17:26] alex-vasilchenko-md commented on #717
OK, I figured it out, I found in UI where do I set up. I would suggest to make it visible that you can actually click on "All" to expand fields. I would suggest to have a blue link "edit" next to All or something like this, it's not hard to do!

Then I had a look how to fix this permission issue in a similar way like here: https://github.com/directus/api/commit/d5edccb0868ab6537cee9c6603e5ed78e9aa

[2019-03-13 20:14] futjikato commented on #813
That sounds like a proper solution to me :+1:

[2019-03-14 12:54] neonnoe commented on #720
Is there any way to get several thumbnail sizes into the configuration? I only have the standard 200x200 in the list. Is there a way to manipulate the setting in MYSQL directly or any other workaround?

[2019-03-14 12:59] benhaynes commented on #720
@neonnoe  — Yeah, it's annoying but we're finally fixing this. In the meantime, just add a CSV of sizes to the database:

`directus_settings` with the `thumbnail_dimensions` key:
[code]

[2019-03-14 14:05] neonnoe commented on #720
@benhaynes Thanks for the this. Works perfectly.

[2019-03-14 15:59] benhaynes commented on #813
To keep this a CSV and since this is already for URLs, this seems cleaner:

[code]

We could also have quality last so it's separate from the dimensions and maybe even optional (need to have a single default, like `100`).
[code]

[2019-03-14 17:29] computerwizjared opened #819 "Single parameter doesn't respect "false""
# Bug Report

## Steps to Reproduce

1. Call the API for any collection, appending the query string parameter "single=false" or "single=0".

## Expected Behavior
The API will return multiple values.

## Actual Behavior
The API returns a single value.

## Technical Details

- Directus API 2.0.18 Docker

[2019-03-14 18:16] syslogic opened #820 "You need to enable the PDO_Mysql extension for Phinx to run properly."
# Bug Report

## Steps to Reproduce

1. Run `./directus install:database`

## Expected Behavior
database table creation.

## Actual Behavior

The problem is, that the files from `/etc/php-cli.d` are by default being loaded in an alphabetical order:
[code]

Once having fixed this and then running the command twice, it should possibly exit gracefully:
[code]

## Other Context & Screenshots

Symbol `

[2019-03-14 21:08] ambu50 opened #825 "Arabic characters are not shown correctly in API JSON output"
# Bug Report
Arabic characters and other Unicode languages are not shown correctly in the API JSON output
## Steps to Reproduce
Store Arabic text in the database, retrieve data using the api

## Expected Behavior
Correct Arabic text is entered by user. For example "السلام عليكم"
## Actual Behavior
Unreadable non-Arabic text. For example "\u0633\u0628\u0627\u064a\u0633\u064a \u0645\u064a\u0644"
##

[2019-03-15 05:04] theharshin commented on #720
@benhaynes This PR also solves https://github.com/directus/api/pull/818. But as we discussed, a better thumbnail management option should be provided 🙂

[2019-03-15 09:39] theharshin commented on #720
@benhaynes  This should be fixed by https://github.com/directus/api/pull/821
But as we discussed, we can still improve the thumbnail configuration.

[2019-03-16 03:45] #769 closed

[2019-03-16 11:57] benhaynes commented on #825
Hey @ambu50 — we've merged your PR, can you confirm this is working now?

[2019-03-16 12:20] stefanvangastel opened #826 "Multiple asterisk cors allowed origin values"
# Bug Report

After deploying api and app (both from master) under different domains the app cannot connect due to cors issues.

## Steps to Reproduce

1. Clone both API and app as instructed on https://docs.directus.io/advanced/source.html
2. Deploy to api.myapp.com and app.myapp.com
3. Configure api
4. Configure app to point at api
5. Try to login

## Expected Behavior

I can login

## Actual Be

[2019-03-16 16:09] ambu50 commented on #825
@benhaynes yes it is working now, thanks.

[2019-03-16 18:17] #825 closed

[2019-03-17 14:46] gamito commented on #624
Hi, guys.
Is there is any progress on this?
Thank you.

[2019-03-18 03:20] barnesew opened #827 "Have an $old and $new for Action Hooks"
# Feature Request

Currently, I believe the only variable passed to an update action hook is a $data array that contains the new version of the item. It would be beneficial to have two variables such as $old and $new.

## What problem does this feature solve?

Having the $old and $new versions of an item would allow comparisons between the two such as sending an email when a boolean changes from f

[2019-03-18 13:52] rijkvanzanten commented on #826
Hey @stefanvangastel! What server stack are you using? Oftentimes when people run into an issue like this is because they've already opened up CORS on a server level (Apache) which doubles it up when also using the CORS setting in Directus 🙂

[2019-03-18 13:53] stefanvangastel commented on #826
Hi @rijkvanzanten just installed a clean Ubuntu VPS with Ubuntu and no issues whatsoever. So it was just my sharedhosting (WebOke) that was causing the issue for some reason. I'll close this since it is not reproducible.

[2019-03-18 13:53] #826 closed

[2019-03-18 13:54] rijkvanzanten commented on #624
Hey @gamito! This was actually fixed just now in https://github.com/directus/api/pull/821 😄

[2019-03-18 13:54] #624 closed

[2019-03-18 14:11] rijkvanzanten commented on #627
For `directus_collection_presets`, we can use the `user` column for this purpose.

[2019-03-18 14:13] #723 closed

[2019-03-18 16:51] benhaynes commented on #827
I like this a lot and see many benefits. We'll have to look at how the passed data is structured to make sure this wouldn't be a breaking change... and that ti won't add a lot of overhead (since it adds another database query).

[2019-03-18 17:03] benhaynes commented on #369
From @puco — https://github.com/directus/directus/issues/1020#issuecomment-473614013

So to give an update here, this is indeed the (second) most requested feature (behind GraphQL support, which is almost ready for beta). The reality is: we're a small open-source team and have to triage tickets based on priority. As of now that means that we are focusing on:

1. Stability (closing all App/API bugs

[2019-03-18 17:12] benhaynes commented on #720
Cool. Here is the referenced ticket for improving the thumb saving format:

https://github.com/directus/api/issues/813

[2019-03-18 17:13] benhaynes commented on #720
@rijkvanzanten @theharshin — is this fixed now? Should we close this ticket?

[2019-03-18 17:22] rijkvanzanten commented on #720
Yes

[2019-03-18 17:22] #720 closed

[2019-03-18 18:04] benhaynes commented on #831
I know it is incorrect, but I'm going to call this an enhancement instead of a bug since nothing is actually broken. Thanks for reporting this @magikstm — we'll get it sorted asap (unless someone wants to give a PR a try first!).

[2019-03-18 18:06] stefanvangastel opened #832 "Twig rendering not accepting <br/> or <p>"
# Bug Report

## Steps to Reproduce

1. Post to the `/[project]/mail` endpoint as described on:
2. Use this data:
[code]
3. Check your email

## Expected Behavior

There should be line breaks in the email

## Actual Behavior

The bold tags are rendered. The line breaks are missing

## Other Context & Screenshots

Used both `{{ body | raw }}` and [autoescape false](https://stackoverflow.com/a/36677

[2019-03-18 18:09] rijkvanzanten opened #833 "API returns wrong casing in nested fields /collections"
# Bug Report

Note how the collection is called `Test`, but the related nested fields return the casing as `test`. It does get returned correctly on `/fields` however.

<img width="314" alt="image" src="https://user-images.githubusercontent.com/9141017/54552817-519a7380-4987-11e9-9bda-2f58d63b1536.png">

[2019-03-18 18:15] benhaynes commented on #833
Also seems like the cause of the "Manage Collection" button issue, right?

[2019-03-18 18:15] rijkvanzanten commented on #833
Why? How is that related?

[2019-03-18 18:21] stefanvangastel commented on #832
Oke, I guess this has to do with this code: https://github.com/directus/api/blob/master/src/helpers/mail.php#L81

[2019-03-18 18:29] rijkvanzanten commented on #832
Or we can extend the list of safe HTML tags. I don't think this is something that users need to configure or think about most of the time. Adding this as a configuration option will only introduce more confusion as to what needs to be configured 🙂

[2019-03-18 18:36] stefanvangastel commented on #832
I totally agree, I can make a PR with some added tags:

[code]

More / less tags?

[2019-03-18 18:38] rijkvanzanten commented on #832
That looks like a good additional set! I don't think you can safely use any other "fancy" html elements in emails anyway, so this should already open up the email templating enough I think

[2019-03-18 18:42] stefanvangastel commented on #832
I'll submit a PR asap.

[2019-03-18 18:43] rijkvanzanten commented on #832
Thanks!

[2019-03-18 18:47] benhaynes commented on #833
I just assumed that there might be a connection between the case issue for collections and the endpoint for toggling "managed". But now that I think about it, things toggle correctly and it's just the App updating... so it's probably unrelated. :/

[2019-03-18 18:53] rijkvanzanten commented on #833
Yeah, and that's about collections, this is about fields 😉

[2019-03-19 02:15] dur41d opened #835 "File upload with base64 doesn't work"
# Bug Report

File upload via Base64 return 400 'bad request'. Following the instructions here:

https://docs.directus.io/api/reference.html#using-base64-content

## Steps to Reproduce

Execute the python code. Make sure you put 'picture.jpeg' file in the script path.

[code]

## Expected Behavior

Response should be 200.

## Actual Behavior

Response is 400.

## Other Context & Screenshots

## Te

[2019-03-19 05:11] syslogic commented on #835
@dur41d `base64.b64encode(f.read())` should already suffice, while `.decode('utf-8')` might not be required, or this might even be the cause for the upload operation to fail (unless also setting content-type headers). I'm not certain about this, unless having managed to reproduce the issue, but it appears to be one possible culprit. Could you please try once without the `.decode('utf-8')` instruct

[2019-03-19 14:30] dur41d commented on #835
You're right. This code works:

[code]

Regarding changing the root, i'm using a shared host so I can't do that. We discussed this at length in
https://github.com/directus/api/issues/636

I'm closing this issue.

[2019-03-19 14:30] #835 closed

[2019-03-19 14:31] dur41d commented on #636
So what's the verdict? what's the chosen implementation?

[2019-03-19 15:26] rijkvanzanten commented on #636
@WellingGuzman left the team on short notice, so issues are getting closed a bit slower than before while we're onboarding a new API lead..

Verdict: `/public` is annoying, the API should work in any folder.

[2019-03-19 15:32] #627 closed

[2019-03-19 18:50] dur41d commented on #636
Too bad. I think he did a good job. I hope you find someone soon. I'd be up
for the job but i don't know php..do i need to?

On Tue, Mar 19, 2019, 11:26 AM Rijk van Zanten <notifications@github.com>
wrote:

[2019-03-19 20:17] benhaynes commented on #835
@dur41d and @syslogic — would adding anything to the Docs help others avoid this issue?

[2019-03-20 01:34] rijkvanzanten commented on #636
Yeah, someone needs to take full responsibility over the primarily PHP codebase of the API, so knowing PHP (well) is a requirement

[2019-03-20 05:50] theharshin commented on #576
Hey @benhaynes, @bjgajjar is looking into this. Just mentioning here to keep this issue alive 😄

[2019-03-20 07:18] syslogic commented on #835
@dur41d even on a shared hosting, this should be possible, at least while the control-panel permits setting the web-root on a per-domain or a per-subdomain basis (access to this capability may vary from provider to provider). I've already seen this feature request (which is about setting it to another location than `/` or `public/` ) and was thinking about aliasing the location; this also seems ra

[2019-03-20 12:52] benhaynes commented on #576
Excellent!! This would be a great one to get resolved.

[2019-03-20 15:06] benhaynes commented on #636
We have a team of developers who will be taking on this responsibility. Once they have familiarized themselves with the API codebase we'll pick up speed with these fixes and improvements.

Some of the new API Team are: @hemratna @bjgajjar — they're already making good progress in other areas.

[2019-03-20 15:38] benhaynes commented on #835
That's a great point @syslogic — we're working through a few priority tickets at the moment, but after that we'll definitely focus more on example code in the Docs (and example code repos). 👍

[2019-03-20 16:00] benhaynes commented on #717
Thanks @alex-gorovyi!! It seems that if you do *not* have permission to a field for a specific status that we should _ignore_ those items entirely, but still show/filter any other items where you *do* have permission to that field.

Does that make sense? I know this is pretty complicated!

[2019-03-20 17:12] syslogic commented on #832
I just was looking at some boilerplate email templates - and one almost has to permit `table`, because they're frequently used for the positioning in email templates.

    'b', 'i', 'a', 'p', 'br', 'hr', 'button', 'h1', 'h2', 'h3', 'h4', 'h5', 'table', 'thead', 'tbody', 'tfoot', 'th', 'tr', 'td'

[2019-03-20 17:34] stefanvangastel commented on #832
Agreed. Will take that in account when submitting PR

Op wo 20 mrt. 2019 om 18:12 schreef Martin Zeitler <notifications@github.com

[2019-03-20 18:03] syslogic opened #840 "SE Linux prevents file upload; XHR response contains stacktrace"
# Bug Report

## Steps to Reproduce

1. Setup Directus on SE Linux
2. Go to 'File Library'
3. Click on 'new'
4. Select an image
5. VueJS displays a generic error message, most likely it cannot parse the response `JSON`.
6. Firefox & Chrome also display a warning, that `CORS` headers were not sent.

Edit: I've just tried, but insufficient permissions on the `uploads` directory report the error prop

[2019-03-20 18:20] dur41d commented on #835
@syslogic I'm using [nearlyfreespeed.net](https://www.nearlyfreespeech.net/) and I don't see that I can change the document root. But in any case I don't want to because I want to use the same site for the `api`, `app` and the frontend website and not a separate site for each. I think the api path being hard-coded to `public` is inflexible and not necessary and does not play well with shared hosts

[2019-03-20 18:32] stefanvangastel opened #841 "Add 'from' setting to /mail endpoint"
# Feature Request

## Steps to Reproduce

1. Configure mail in `api.php` or any project `api.php` file:
[code]
2. Mail some recipient (user@example.com) using the `/mail` endpoint and provide access via token:
[code]
3. As user@example.com check your email and the sender address.

## Expected Behavior

The sender address is: `noreply@mydomain.com`

## Actual Behavior

The sender address is the ema

[2019-03-20 19:34] syslogic commented on #840
this would at least display the error message being returned. eg `Missing temporary upload folder`:
https://github.com/syslogic/app/commit/b7cf06308eb6a7f04f676b5c857c529f4ec9806d#diff-46ded67614ceda327ea7a658da76b5ae

[2019-03-20 22:51] shartley76 commented on #750
@computerwizjared do you think that this bug will be able to get assigned to someone soon? It has been in the high priority bug triage for a while now and is a blocker for us at the moment

[2019-03-20 23:04] computerwizjared commented on #750
@shartley76 I don't have any idea. I'm not affiliated with Directus, just another user. We're having this issue too, and all we're doing right now is uploading to the server directly and then editing the database manually. Sorry!

[2019-03-21 14:23] Mozz4rt opened #842 "Item.remove action hook isn't returning data"
# Bug Report
`item.delete.[colection]` action hook doesn't return $data parameter. Instead it returns an ID for a row that doesn't exists anymore in case of :after.
## Steps to Reproduce

1. Create any action hook
2. `var_dump` the first parameter
3. See only the ID of the item

## Expected Behavior
Return full data from the item you're trying to delete
## Actual Behavior
Returning only ID from an

[2019-03-21 15:27] Lapsus opened #843 "/users/me?fields=last_page returns no data for non admin user"
# Bug Report
While trying to set the page for the first login of a user to his profile page i realized that directus_users.last_page could to the trick. But unfortunately it does not work for non-admin users.

## Steps to Reproduce
Check the requests sent on the browser console during login.
First request is /auth/authenticate
Second request is /users/me?fields=last_page

Compare the request when

[2019-03-22 08:46] syslogic commented on #843
the value is being set to table `directus_users`. when comparing `/_/users/1/revisions` with eg. `/_/users/2/revisions`, it seems that property `last_page` is also being returned as `null` there.

[2019-03-22 14:59] benhaynes commented on #750
@shartley76 and @computerwizjared — we'll try to get this resolved asap, no specific timing. The more info we have the better/faster.

@hemratna + @theharshin — maybe we can look into this one?

[2019-03-22 15:21] theharshin commented on #750
Sure @benhaynes. Will look into the issue this weekend. Thanks for the inputs @shartley76  @computerwizjared 🙂

[2019-03-23 07:44] syslogic opened #845 "3/4 of the Unit Tests fail"
# Bug Report

## Steps to Reproduce

1. Refactor from `PHPUnit_Framework_TestCase` to `\PHPUnit\Framework\TestCase`
2. Then click on 'Tests' in the IDE.

## Expected Behavior
The unit tests should be matching the source code.

## Actual Behavior
The unit tests generally seem quite outdated and barely match the source code.

## Other Context & Screenshots
This commit has the changes required to eve

[2019-03-24 11:19] dslpp056193 opened #847 "/projects fails for database with no password"
# Bug Report

When creating a new project using `/projects`, leaving the db_password field empty will write `null` to the config file resulting in database connection errors when trying to use the API.

## Steps to Reproduce

1. Create a new project in /projects
2. Leave the db_password field empty (or empty string `""`)
3. See problems

## Expected Behavior

The API should support database connec

[2019-03-24 18:29] ninjabachelor opened #846 "Many to Many (or One to Many) field not showing in API response"
# Bug Report

## Steps to Reproduce

1. Create a Many to Many or One to Many field in a table
2. Get one item from the table via API
3. The field is not present in the response

## Expected Behavior
Get the field value. I also tried to get it via the "fields" query parameter.
Is it by design? Should I get the value in a different way?

## Actual Behavior
The field is not present in the API respons

[2019-03-25 05:59] theharshin commented on #846
Hello, @ninjabachelor Thanks for the information. I see you've cloned the `7.0.16` branch. The latest release is `7.0.19`. Can you update it to the latest and check if the issue is still there? Also, let me know if you have a specific reason to keep `7.0.16` release. 🙂

[2019-03-25 13:07] rijkvanzanten commented on #846
This seems to be working as expected on the demo api: `https://demo-api.directus.app/_/items/members?access_token=demo&fields=*.*`

The fields parameter is required for the API to return the nested relational items for o2m (and m2m) type relationships.

[2019-03-25 13:58] rijkvanzanten commented on #200
Closed in favor of #560

[2019-03-25 13:58] #200 closed

[2019-03-25 14:02] rijkvanzanten commented on #560
Ideally, we'd have a system where you can have custom snippets of PHP (similar to hooks) that can be run at an interval. If these snippets have access to the Directus internal api's (like hooks), you should be able to do virtually whatever you want.

I think we should / could have a `directus_tasks` collection that keeps track of at what interval to run what function? And maybe use `directus_activ

[2019-03-25 15:36] benhaynes commented on #560
I like that. Would the code to be executed be saved in the database (eg `directus_tasks.code`)? Would it be a reference to a file (maybe uploaded in Directus Files) so that it is language agnostic?

If the tasks define when it runs (start, frequency, end/iterations), and we have a simple CRON that fires every minute, then we can just check the tasks and run them as needed. Seems pretty straightfor

[2019-03-25 15:46] rijkvanzanten commented on #560
That could be even easier @benhaynes.

If the file itself starts with something to tell the API how often to run, we don't need to the database in between. We could have an `extensions/tasks` folder with `.php` files that get fired

[2019-03-25 16:10] rijkvanzanten opened #850 "Rate limit login attempts"
# Feature Request

After a certain amount of wrong login attempts, we should block the user from logging in for a certain amount of time.

## What problem does this feature solve?

Prevent brute-forcing logins on the API

## How do you think this should be implemented?

Similar as to iOS handles it. After 10 wrong login attempts, the user can't login for a minute. After 10 more wrong login attempt

[2019-03-25 16:28] benhaynes commented on #560
Interesting. So naming could use [cron schedule expressions](https://crontab.guru/#5_4_*_*_sun):

### “At 04:05 on Sunday.”
[code]

We could also "disable" tasks just like other extensions, by pre-pending `_` to the file-name.

Now this is starting to look like a nice clean solution that just needs a CRON parser to run/check every minute!

[2019-03-25 16:38] #819 closed

[2019-03-25 16:42] rijkvanzanten commented on #832
Closed in https://github.com/directus/api/pull/849

[2019-03-25 16:42] #832 closed

[2019-03-25 16:58] benhaynes commented on #845
Our previous API Lead had limited time and had to stop updating tests so that he had enough time to fix issues. Now that things are closer to being stable we should find time to go back and get all tests passing... and add _more_ test coverage.

[2019-03-25 17:07] RedactedProfile commented on #367
what's the good word on the status of this feature? any updates?

It's the only hard sell compared to contemporaries is the lack of a graphql endpoint, and im looking forward to telling those interested on the when and the where it may be here

Thanks!

[2019-03-25 17:14] benhaynes commented on #367
@RedactedProfile — we're squeezing it into our other work-streams:

* 2 days: Search
* 2 days: Adding support for Directus built-in collections
* 1 day: Final round of testing and code overview

As of now we're shooting for a Directus GraphQL beta the first week of April!

[2019-03-25 17:28] RedactedProfile commented on #367
Thank you so much for the speedy update!  I look forward to it :D

On Mon, Mar 25, 2019 at 10:14 AM Ben Haynes <notifications@github.com>
wrote:

[2019-03-25 18:04] rijkvanzanten commented on #845
Also, we might want to consider writing input-output tests separately from the API implementation, that way we can also test future ports on the same tests

[2019-03-25 21:28] ninjabachelor commented on #846
Thanks @theharshin and @rijkvanzanten ,
Yes correct, I missed the second level in the `fields` query parameter. It works correctly.

Thanks again!

[2019-03-25 21:28] #846 closed

[2019-03-26 06:55] syslogic commented on #845
There indeed seems to be some disconnect at some point of time (maybe 2-3 major version numbers ago), where only the source had been developed further, without the tests being updated accordingly, which subsequently lead to the current situation - which is a) barely testable and b) barely maintainable (no matter if the code works, whether or not). I can try to see how far I'd get with `apigen`, th

[2019-03-26 07:06] syslogic commented on #845
@rijkvanzanten such tests already exist in the [tests/io](https://github.com/directus/api/tree/master/tests/io) directory... where `guzzlehttp` most likely should be a test dependency, unless it is being used in the source-code, too.

[2019-03-26 09:47] syslogic commented on #845
just seen this commit https://github.com/directus/api/commit/39baa80395b556ada02e49e63b770b248cc85925 ...which suggests, that painting the problem is being preferred, instead of engineering a proper solution. this attitude is exactly what lead to this situation. Sorry, but I see no use for me here.

[2019-03-26 10:53] bjgajjar commented on #807
@samvasko It seems the bug is fixed by #828.
We just released API v2.0.20. Can you update to latest and let me know if it still occurs? I can not reproduce this on my side :slightly_smiling_face:

[2019-03-26 11:34] benhaynes commented on #845
Hey @syslogic — thank you for the thoughtful responses. Though I think there's a slight miscommunication here:

Directus is used on some of our client projects, and around the middle of last year our developer only had 2 days/week to work on Directus. At the time, there were many issues that needed to be resolved for those paying clients which meant we had to take on this technical debt. It's not

[2019-03-26 13:04] rijkvanzanten commented on #845
@syslogic that change broke building the api for release, so i had to revert it in order to release the API

[2019-03-26 13:12] #843 closed

[2019-03-26 13:30] cristianopolicarpo opened #869 "Server Error After Upgrade"
# Bug Report

## Steps to Reproduce

1. After login in admin:
2:Error
Server Error
Something is wrong with this instance’s server or database.

## Expected Behavior

## Actual Behavior

## Other Context & ![directus](https://user-images.githubusercontent.com/11546471/55001057-8f645100-4fb2-11e9-9317-1b695a9ce3ad.png)

## Technical Details

- Device: Desktop
- OS: linux CentOS release 6.10
- PHP Ve

[2019-03-26 14:17] prettyGitty opened #853 "possible DECIMAL range value will automatically been changed to default 10,0 when saving number field"
# Bug Report
When altering any options of a decimal number field it will automatically set the choosen "Length" to the default range value of 10,0.

Afterwards all right digits within this table column will be changed  (i.e percentage values like 0.61 will be changed to 1) and are therefor lost.

## Steps to Reproduce

1. Go to any number field with the datatype DECIMAL
2. Change anything or nothi

[2019-03-26 16:27] tshelver commented on #364
Node and Postgresql :)

[2019-03-26 21:28] LN-vchopra opened #855 "API does not enforce validation of required fields in nested items"
# Bug Report

## Steps to Reproduce

1. Create a collection "Carousel"
2. Click another collection "Carousel Items" with Title, Image and Sort (all required) fields.
3. Update Carousel Collection to include a O2M field "Carousel Items"
4. Create a new Carousel object.
5. Click on Add New Carousel Item
6. Enter Title, leave Image and sort blank.
7. Save Carousel Item.

## Expected Behavior

Either

[2019-03-26 21:34] pessimisticpaperclip opened #854 "Public endpoints returning error 300"
# Bug Report
When an endpoint is set to be publicly readable, the API still returns error 300 when trying to read it.    See screenshots below for demonstration.

## Steps to Reproduce

1. Create a collection and add items
2. Set the collection to be public in the
3. Attempt to access to public endpoint

## Expected Behavior
Items in the collection should be returned

## Actual Behavior
Error 300

[2019-03-27 00:03] rijkvanzanten commented on #854
This seems to be working as expected for me on the live demo version. If possible, could you share a dump of the database so we can reproduce your exact setup?

[2019-03-27 00:54] pessimisticpaperclip commented on #854
For sure.
DB Dump is here: https://unnamedmedia-my.sharepoint.com/:u:/g/personal/scott_unnamedco_com/Eedg3zyxkGlIkxPhlUfGo_4BW0CzsEEHjilfoD9Orh0nWQ?e=I82bZx

[2019-03-27 07:02] bjgajjar commented on #833
@benhaynes @rijkvanzanten

We need to look into below points to add capitalized table name in the system.

(1)  MySQL have 'lower_case_table_names' system variable. The capitalization of the table only possible if this variable is enabled in a file at /etc/mysql/my.cnf.
There are three possible values for this [0,1,2] but the challenge is On Unix, the default value of lower_case_table_names is 0.

[2019-03-27 07:43] theharshin commented on #855
This is a known issue & relates to this: https://github.com/directus/api/issues/455

[2019-03-27 09:48] theharshin commented on #847
@bjgajjar I think we need to explicitly check for `null` from APP and replace it with blank String. Thanks @dslpp056193 for reporting the issue 🙂

[2019-03-27 11:10] theharshin commented on #842
Thank you for the report @Mozz4rt 🙂 @hemratna or @bjgajjar will be having a look at this issue soon.

[2019-03-27 11:55] theharshin commented on #841
Thank you for pointing this out @stefanvangastel. We'll be looking at this issue soon 🙂

[2019-03-27 12:19] theharshin commented on #810
Thanks for the report @binary-koan. @hemratna is building a GraphQL implementation and he is also facing this issue. We'll have a fix for this soon 🙂

[2019-03-27 15:32] computerwizjared opened #858 "Thumbnailer not working on the demo"
# Bug Report

## Steps to Reproduce

1. Login to https://directus.app/#/files and and see that no thumbnails are shown.

## Expected Behavior

Thumbnails should be shown.

## Actual Behavior

No thumbnails are shown, and they return 404 errors.

## Other Context & Screenshots

We are trying to set up the thumbnailer locally and not having great success, getting 404s.

## Technical Details

Directu

[2019-03-27 16:48] justrealmilk commented on #624
Experiencing this error on 7.1 with `Thumbnail Quality Tags` and `Thumbnail Actions`

[2019-03-27 19:47] pessimisticpaperclip commented on #854
Hey @rijkvanzanten-- I believe I've discovered what the issue is, and it might be a somewhat special or unique case.

The problem seems to be that the tables were initially created with the default "status" fields Directus adds, and so when the permissions were set, the directus_permissions table had a value for the different status options:
![image](https://user-images.githubusercontent.com/30007

[2019-03-27 21:46] rijkvanzanten commented on #854
Thanks for clearing that up @pessimisticpaperclip!

[2019-03-27 23:54] benhaynes commented on #833
My opinion is: We should force lowercase when adding collections/fields through the App and API, but we should support any collections/fields that _already have_ uppercase letters (added manually in the database, or that were from a migrated schema).

Then we don't need to do any checks. If they already have uppercase in their database then it must be allowed.

BUT, this means that when we show _e

[2019-03-28 11:20] bjgajjar commented on #833
@benhaynes  As per the current code, the flow you have recommended is already there!
You can find the API changes in PR #859

[2019-03-28 14:12] theharshin commented on #858
I can confirm this is the case with the latest release  `2.0.20` too. Thank you @computerwizjared for reporting. @bjgajjar can we have a quick look on this?

[2019-03-28 16:12] luglio7 commented on #858
sometimes when you restart apache they restart working. It's something very unstable right now.

[2019-03-28 16:43] luglio7 opened #861 "Cannot add files or m2m field"
# Bug Report

Sometimes i am not able to add a relations field (in my case the files and the many to many interface). I get  this js error : `vue.runtime.esm.js:1888 TypeError: Cannot read property 'fields' of undefined` which is caused by the file:
`getters.js` (webpack:///./src/store/modules/relations/getters.js)
at this line:
`field_many: collections[result.collection_many].fields[result.field_

[2019-03-29 10:14] bjgajjar commented on #841
Hello, this is working as expected. What you're trying to achieve can be added as enhancement though. Let me explain,

The api.config file has mail settings which are being used when the system sends an email for activities like:
1. New registration
2. Forgot passwords etc.

The /mail endpoint is open for all the users. It identifies the user from access token & sets the email of the user as sende

[2019-03-29 10:16] stefanvangastel commented on #841
@bjgajjar That explains a lot. Thanks. I understand this point of view and the suggested feature would be very helpful for my (and I expect other) use-case(s).

[2019-03-29 10:35] benhaynes commented on #841
Makes sense, thanks Binal!

Let's shift this ticket to a feature request for now and we can look into adding it later. For now the priority is bug fixes and stability.

[2019-03-29 16:16] rijkvanzanten opened #863 "Dot notation filters don't work for public group"
# Bug Report

When setting all the collections readable by the public group, the dot notation for filters doesn't work.

## Steps to Reproduce

1. Install the provided demo sql dump
2. Go to `/_/items/tag?fields=*.*&filter[tag_type.title][eq]=Category`
3. See error

Note how it works when you add `&access_token=demo` to the end of that URL

[dump.zip](https://github.com/directus/api/files/3023520/

[2019-03-29 18:22] srjrol opened #873 ""Cascade" relationship deletions when deleting a parent item"
# Bug Report

## Steps to Reproduce

1. Create a many-to-many relationship.
2. Relate items from two collections to each other.
3. Remove an item from one collection.

I used the demo website (member -> favorites) relationship to reproduce after first seeing this in my own instance.

## Expected Behavior
The junction table should be updated to remove any rows containing items that are deleted.  Th

[2019-03-31 02:23] leocavalcante opened #864 "Running on Swoole"
# Feature Request
Run the Directus API on the [Swoole](https://www.swoole.co.uk/) platform.

## What problem does this feature solve?
Swoole enables high-performance, scalable and concurrent services in PHP programming language. It's benchmarks are impressive: https://www.techempower.com/benchmarks/
Swoole enables drop-in Coroutines for default PDO and MySQL drivers, so not only the HTTP I/O will

[2019-04-01 09:55] theharshin commented on #858
Okay, so @bjgajjar drilled down the issue and it seems that issue is with server configuration specifically for **nginx**.

The `thumbnailer` works independently from the `public/thumbnails` path. Now the directory has `.htaccess` file which handles the redirection and executes `index.php` file inside it. So it works fine for **Apache** servers.

When it comes to **nginx**, the redirection doesn't

[2019-04-01 12:15] benhaynes commented on #864
Thanks @leocavalcante — seems like an interesting option! I thought we had another ticket for programmatically logging in, but I can't seem to find the ticket.

@rijkvanzanten @theharshin @bjgajjar  — thoughts on Swoole?

[2019-04-01 12:29] shealavington commented on #858
I would say one of the main reasons is to keep control of images in one location — This means you can CDN all images if you decide to host them externally such as AWS.

[2019-04-01 12:30] computerwizjared commented on #858
@theharshin I'm going to try this out and get back to you shortly.
@shealavington We're using the Flysystem adapter for S3, could that be part of the issue?

[2019-04-01 12:37] inta opened #865 "Junction table without primary key leads to error"
# Bug Report

Junction tables without auto increment, numerical primary key will lead to errors.

## Steps to Reproduce

1. Create two tables person and contact (no matter which content) and a junction table like this:
[code]
2. Go to person table and set up a many to many relation using the existing junction table
3. Go to person collection and try to add an item with relation to contact
4. a) Se

[2019-04-01 13:07] computerwizjared commented on #858
@theharshin I tried your changes however now I am getting `{"error":{"error":8,"message":"API Environment Configuration Not Found: thumbnail"}}` instead of a 404. Looks like #577 and/or directus/docker#10.
Before, I was using the directus/docker default nginx config: https://github.com/directus/docker/blob/master/projects/api/rootfs/etc/nginx/conf.d/default.conf.

Any thoughts? Thank you!

[2019-04-01 13:58] rijkvanzanten commented on #864
I'm wondering if it makes sense to run the current API implementation on Swoole. Swoole looks really nice, but by running our non-optimized-for-Swoole codebase on Swoole, I feel like we're missing out on most of the things that make Swoole great.

[2019-04-01 14:10] inta commented on #865
Ok, thanks for having a look.

What about junction tables without primary key? Is that supposed to work or unsupported either?

[2019-04-01 14:13] rijkvanzanten commented on #865
Junction tables with no primary keys rely on composite primary keys and therefore aren't supported at this time either.

[2019-04-01 14:29] benhaynes opened #866 "Support Composite Keys"
Not sure how difficult this would be to implement with our current way of referencing items, but we should discuss.

[2019-04-01 14:30] benhaynes commented on #865
As of now Directus needs a unique way to reference every item through the API — and as of now we need a (single) field/column for that. Composite keys would be a good feature request though!

I'll close this, but keep it referenced in the Feature Request — thanks @inta!!

Ref: https://github.com/directus/api/issues/866

[2019-04-01 14:30] #865 closed

[2019-04-01 15:06] leocavalcante commented on #864
@rijkvanzanten when you run `Swoole\Runtime::enableCoroutine()` it switches the PHP built-in `stream`, `sleep`, `pdo`, `mysqli` and `redis` extensions from blocking model to the async model with Swoole Coroutine. The I/O calls to MySQL will be non-blocking too, like the HTTP calls; I think the whole Directus ecosystem will be benefited out-of-the-box.
Then maybe some cool docs on writing hooks as

[2019-04-01 16:08] u12206050 commented on #367
Love the first week of April :)

[2019-04-01 16:57] Calderis opened #867 "Fail to send mail"
# Bug Report

It seems that sending mail through sendmail fail due to some reasons (error code null)

## Steps to Reproduce

1. Make a POST request to `/_/mail`
2. set body to
[code]

## Expected Behavior

Should receive code 220 and send mail

## Actual Behavior

No mail sent and response returned by server :
[code]

**Logs**
----
[code]
----

## Other Context & Screenshots

Configuration : Docke

[2019-04-01 20:00] RedactedProfile commented on #367
why what happened?

[2019-04-01 20:18] rijkvanzanten commented on #367
@RedactedProfile

😄

[2019-04-01 20:56] RedactedProfile commented on #367
hahaha apologies I had special moment, I thought @u12206050 's comment was in regards to some sort of april 1st / fools day jab or something when I wrote that

[2019-04-01 21:22] benhaynes commented on #367
Haha, this was our only April Fools day mis-information...

https://twitter.com/directus/status/1112759052109598725

[2019-04-02 05:07] #847 closed

[2019-04-02 05:09] #833 closed

[2019-04-02 07:10] Calderis commented on #867
Hi again,

I've been trying again this morning and I also have this response back from the api. It's quite random ~~ 🤭.
[code]

[2019-04-02 07:29] bjgajjar commented on #867
@Calderis

May I know your configuration? Did you register `from` and `transport` only or `sendmail` too?

If you go through the docs, you can find that you can override the default `sendmail` option.

[2019-04-02 07:36] Calderis commented on #867
Hi @bjgajjar ,

Actually my config [is still the default one](https://docs.directus.io/advanced/api/configuration.html#mail) (`/config/api.php`):
[code]

So in fact only `transport` and `from` are specified. I did not update the `sendmail` value since the `sendmail` program is at the default path [such as specified in the documentation](https://docs.directus.io/advanced/api/configuration.html#send

[2019-04-02 10:14] Calderis commented on #867
@bjgajjar
Does someone already managed to send mail through the `sendmail` transport with Directus on Docker alpine ?

[2019-04-02 15:14] benhaynes commented on #867
Hmm, @wolfulus — any idea?

[2019-04-02 17:26] WoLfulus commented on #867
I was reading sendmail docs and how to get it working, and unfortunately I don't think the current images will work without modifications. It needs some local file modifications and an agent running.

You can add support for those by extending the image... I'll try adding those on the docker refactor branch

[2019-04-02 17:34] Calderis commented on #867
I did another try with the `smtp` transport.

I've been filling config such as:
[code]

and this time I've been receiving the following error :
[code]

I thought that it might be relative to a [post on stackoverflow](https://stackoverflow.com/questions/27721120/laravel-connection-could-not-be-established-with-host-smtp-gmail-com-0). Unfortunately I don't know what to do on my side since.

Beside,

[2019-04-02 18:29] WoLfulus commented on #867
I was going to suggest that. You can always fine tune your settings by mounting your own `api.php` file.

If you're not going to use sendmail then you should be good at the docker side and its a matter of getting the right settings.

Also, can you try `tls` instead?

[2019-04-02 18:58] Calderis commented on #867
`tls` doesn't work either. I do receive :
[code]

Even trying updating `/etc/hosts` by adding the ip with the smtp.mydomain.com.

[2019-04-02 19:33] WoLfulus commented on #867
The docker container has external network access? It seems connectivity issues

[2019-04-02 21:22] Calderis commented on #867
@WoLfulus I though you were right but `ping smtp.xxxx.com` does work successfully.
My docker-compose is the following one :
[code]

And the Dockerfile from api container
[code]

Nothing really unusual about mapping so.

[2019-04-03 08:27] swaipdev commented on #684
Hi guys,

sorry for being late. I first decided to stick to Directus 6, but now that I have a little bit more time I'm trying again to move to Directus 7, but I'm still stumbling on the same bugs: this one of the m2m field, and the famous logo bug in the global settings (see for example: https://github.com/directus/directus/issues/2252).

I started clean from the docker compose single api version

[2019-04-03 08:33] bjgajjar commented on #858
@computerwizjared

You need to restart you server/nginx once you made changes to nginx file.

[2019-04-03 08:46] Calderis commented on #867
### Solution
I did succeed following this issue comment https://github.com/swiftmailer/swiftmailer/issues/544#issuecomment-220103233

Indeed I've been modifying the `src/core/Directus/Mail/Transports/SmtpTransport.php` file such as

[code]

For those who would have a similar problem to send mail through **smtp/ssl** with **Docker** here my complete api.php values (just `mail` has been modifying)

[2019-04-03 11:26] computerwizjared commented on #858
@bjgajjar I'm aware- thanks. I use Directus Docker so it restarts Nginx with each change.

Do you know by chance why the Directus demo site thumbnailer isn't working?

[2019-04-03 13:32] benhaynes commented on #858
Uploading to the demo gives a `Missing Storage Configuration`...

@rijkvanzanten @bjgajjar — any ideas why this is happening? Can we get it fixed and confirm things are working?

[2019-04-03 16:21] shealavington commented on #858
I see that a lot, people wondering why uploads don't work on the demo, it seems correct to not allow people to complete that action. — I can't imagine you'd like people randomly uploading files to the demo server littering files. 😂

[2019-04-03 16:24] computerwizjared commented on #858
I agree. However, it would make sense to have some example files in there
for the demo.

On Wed, Apr 3, 2019, 12:21 PM Shea <notifications@github.com> wrote:

[2019-04-04 10:57] RVaniuta commented on #624
Have same issue with Thumbnail Quality Tags and Thumbnail Actions too

[2019-04-04 16:35] laravel1112 opened #871 "File library card image limit"
# Bug Report

## Steps to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '...'
4. See error

## Expected Behavior

## Actual Behavior

## Other Context & Screenshots

## Technical Details

- Device: [eg: Desktop, iPhone6, etc]
- OS: [eg: MacOS 10.13.6, Windows 10.1803]
- Web Server: [eg: Apache 2.4.37]
- PHP Version: [eg: 7.2.0]
- Database: [eg: MySQL 8.0.12]
- Install Method: [eg:

[2019-04-04 18:26] rijkvanzanten commented on #871
Do you mind explaining what's wrong / going on? The title alone unfortunately doesn't give me enough to work with..

[2019-04-04 19:38] matthiaswh opened #872 "Modal editing of O2M targets fails to save"
# Bug Report

## Steps to Reproduce

1. Go to the detail/edit page of a collection with a One-to-Many field. In the docs example, this would be a Director.
2. Click on an existing related object to edit it in a modal screen. In the example, click to edit a movie and edit its title. (Alternatively, delete an existing related object, the same behavior is exhibited.)
3. Save the related object (the m

[2019-04-04 19:42] matthiaswh commented on #872
I also just noticed: the _most recently added_ related object will save any edits, while other objects will not save. That should hopefully help pinpoint the problem. (Although it also makes me realize this is probably an app issue and not an API issue!)

[2019-04-05 14:03] alrick opened #876 "Updating Collection presets denied"
# Bug Report

## Steps to Reproduce

1. Go to a collection
2. Click on Information button at top right corner
3. Change "Table" to "Cards" or vice versa

## Expected Behavior
The view is displayed, no error message.

## Actual Behavior
The view is actually changed accordingly, but the user get an error message :
UI : `Trouble processing request. Try again after refreshing the page.`
Web console :

[2019-04-05 15:50] benhaynes commented on #873
I was on the fence about this being a bug or enhancement — but will leave it as a bug for now.

Technically, there's no obligation for the platform to do cascading deletes... and in fact it could be seen as overreaching. But I do agree that this is probably the _expected_ behavior. And we don't have any notices that inform the user that they must manually remove relationships.

I will mention that

[2019-04-05 23:49] YvanDaSilva opened #874 "Password stored in plain text for non default user."
# Bug Report
Password is stored in plain text.

## Steps to Reproduce

1. Get the latest master from both API&APP
2. Start them with a new mysql db
3. Login in as admin
4. Create a new admin user
5. Go look at the DB content

## Expected Behavior
The password is hashed and the user is able to log in (stored and provided hashes match)

## Actual Behavior
Unable to login the new user, the password i

[2019-04-05 23:59] benhaynes commented on #874
Not sure about this one — I just used the demo (https://directus.app) and created a new user... then check the database and the password was: `$2y$10$zJ05xl5CemPdUEDe2v3B6eaOtzCCeSy/FDK1gB3hOBMKg5pfdEQMG`

Things seem to be working as far as I can tell... but this is a serious issue and I want to make sure that we don't overlook anything. Could you make sure you're on the latest version of the App

[2019-04-06 08:40] YvanDaSilva commented on #874
HI @benhaynes ,
Yes absolutely to all your questions, master branch up to date. New database and up to date (I even tried clicking the update script from the app)

The default user created through the ENV variables work fine.

However any new users and update of that user will not hash the password.
Something must have changed on the way of doing things, maybe when you moved extensions.
I didn't h

[2019-04-06 11:51] srjrol commented on #873
The only reason I saw this as a bug was when checking the "# items' in the column display for the collection it did not match up with the actual number of items related to.  Maybe the simpler solution (for now at least) is to just update that calculation so it checks if the items related to still exist before including them in the total.

[2019-04-08 00:29] brocgailit commented on #399
This is available via [Intervention Image](http://image.intervention.io/api/encode):

**Encode:** `$webp = (string) Image::make('public/foo.png')->encode('webp');`

This should be high priority for anyone looking for the performance perks of next gen formats (It will also make [Google Lighthouse](https://developers.google.com/web/tools/lighthouse/) happy.

Maybe work this into the thumbnails endpo

[2019-04-08 07:59] swaipdev commented on #684
Hi guys,
this is the mysqldump,
can you take a look at it ?
I'm probably doing something wrong with these m2m fields, but in Directus 6 I managed to make them work and I definitely want to move to Directus 7.

Thanks,
Carlo

[somedb.zip](https://github.com/directus/api/files/3053236/somedb.zip)

[2019-04-08 13:43] benhaynes commented on #873
Yeah, we'll see what @rijkvanzanten thinks... but I'd like to see this fixed instead of patched. It shouldn't be too difficult to check for relationships in `directus_relations` when deleting an item. But we'd want a param to override this, maybe keeping the default behavior as-is but adding an optional param to cascade delete relationships.

[2019-04-08 13:48] rijkvanzanten commented on #873
I think this should be handled from just the API as well. Maybe the API should throw an error (400) when you're trying to delete an item that has a relationship to another item. We'd then add a `force` parameter that will delete this single item anyway, and a (?) `delete-relational` param that will remove the relation itself too.

I'm not too sure how that second one has to work. For m2m (o2m-m2o)

[2019-04-08 13:50] rijkvanzanten commented on #399
I don't that that idea! Would be very useful if the thumbnailer could not only change sizes, but also convert to different formats. Would be awesome if you could upload one master huge PNG file, which you can then use on the front-end in both jpg, png, and webp formats (or whatever format you require)

[2019-04-08 14:05] benhaynes commented on #873
* M2M — Delete item and junction items (that's it)
* O2M — Deleting item deletes relationship (make sure "count" only counts published status)
* M2O — For this we would need to set the parent field to `NULL` (if `allow_null` is true). I think this is acceptable, but if the field does *NOT* allow_null then we either return an error or leave as-is. In the App we could solve this (in the future) with

[2019-04-08 14:27] rijkvanzanten commented on #873
I think we're getting O2M and M2O confused..

Also, we don't technically have a M2M or M2X or any of that, as it's an O2M to a junction table (JT), followed by a M2O from the JT to the related collection.

* `M2O` — Doesn't have to do anything, as the 'relation' is saved in a field in the row you're deleting
* `O2M` — Set the field in the related collection to `null` / ask for what to replace with

[2019-04-08 15:43] benhaynes commented on #873
Haha, we're saying the same thing but in opposite directions... which makes sense. I was describing when we delete the "foreign" item and you're talking about deleting the "main" (parent) item. Either way we need to do a check.

And yes, we should have an API option to ignore this whole cascading delete.

[2019-04-08 20:08] brocgailit commented on #399
#878

[2019-04-09 08:54] agseco opened #879 "Search of translated content from main collection throws error"
# Bug Report

Just to provide some context, the use case is to know what translation key belongs to a translation. It could be searched in the _translations_ collection but ideally it should be hidden by default for regular users.

## Steps to Reproduce

1. Setup a translated collection (see provided script)
2. Populate with some content
3. Navigate to the main collection
4. Try to search in the _

[2019-04-09 16:18] polgiron commented on #539
Hello, I'm not sure if it is similar, I would love to be able to sort the many to many elements in my collection entry.

Very simple use case: I have a collection type "album" which can be populated by several collection type "image". Then I would love to re-order these images inside the album entry.

Thank you very much, you guys are doing an amazing job!

Paul

[2019-04-09 19:01] YvanDaSilva commented on #874
Please see the closed merge request https://github.com/directus/api/pull/877 for more information.

[2019-04-09 21:39] rijkvanzanten commented on #539
I think you're referring to sorting items within a many to many: https://github.com/directus/app/issues/1388 @polgiron 🙂

[2019-04-10 10:06] agseco opened #880 "Item fails to be saved in collection with JSON field type"
# Bug Report

## Steps to Reproduce

1. Create a new collection
2. Add a text field type
3. Add a JSON field type (code)
4. Save the collection
5. Navigate to the created collection
6. Add a new item
7. Populate the text field with some text
8. Populate the JSON field with a valid JSON
9. Try to save the changes
10. It fails in the UI with the error `Attempting to write an array as the value for f

[2019-04-10 17:06] srjrol commented on #831
@benhaynes Not sure if it is related but today I had to truncate the ```directus_revisions``` table because its size was growing out of control.
![image](https://user-images.githubusercontent.com/34398302/55898700-c9c01780-5b88-11e9-8815-a75a56dacf4c.png)

[2019-04-10 17:43] benhaynes commented on #858
Both the files and thumbnails should be working on the demo now.

[2019-04-11 06:52] justrealmilk commented on #880
it creates the field with type `String` instead of `JSON`
if you go back and change it after the fact, it works
![image](https://user-images.githubusercontent.com/156681/55936586-13d4f600-5c7a-11e9-9712-3a257eb92d10.png)
so is this an API error or App error? someone should check the save request for initially adding the field

[2019-04-11 08:26] agseco commented on #880
@justrealmilk you are totally right, it works fine if `JSON` field type is selected, thank you very much :)

[2019-04-11 13:28] bjgajjar commented on #842
@Mozz4rt

We develop the explicitely code like the delete hook will have a ID only instead of object.

Can you please  provide the usecase of this functionality?

We have to consider this as a feature functionality instead of bug. Let me know your thoughts @benhaynes

[2019-04-11 15:31] benhaynes commented on #842
I'm not sure what is standard, but I could see why it would be nice to have the item info in the hook (eg: so you could send an email/notification saying `XXXXX item was deleted`. Any thoughts @rijkvanzanten ?

[2019-04-11 15:44] Mozz4rt commented on #842
@benhaynes Funny enough, that's exactly what I was hoping to achieve.

@bjgajjar the problem with returning the id and why i see It as a bug is that :after delete you can't do much with the returned id since it's no longer in the database, the expected would be an obj copy of the deleted item for further use..

[2019-04-12 02:18] computerwizjared commented on #858
@benhaynes I'm not showing any thumbnails on the demo- thoughts?

[2019-04-12 11:26] bjgajjar commented on #842
@Mozz4rt

This issue is resolved with #882. I just added the extra parameter along with ID. So the other user's who used this hook earlier, they will not be affected by this change.

[2019-04-12 12:42] benhaynes commented on #842
Fixed by https://github.com/directus/api/pull/882

[2019-04-12 12:42] #842 closed

[2019-04-12 12:56] joe642 opened #883 "Azure/Custom Storage Adapter"
# Feature Request

Azure Storage Adapter. Have had a look inside the FilesystemFactory and can see that S3 support is embedded into the core of Directus, and a switch is used based on config to use either the Local or S3 adapter. I can't see any way of creating a custom extension based on this code:

[code]

## What problem does this feature solve?

Directus apps can be deployed within the Microso

[2019-04-12 13:33] carlwhittick opened #884 "Primary key strings with number as first char only take the number"
# Bug Report
This seems to be a similar issue to one that Facebook had a while ago. When attempting to get a row by a primary key of 1abc the system will return the results for 1.

## Steps to Reproduce

1. Go to "/_/items/exampletable/1abc" on a table with numeric keys
2. See results for "1" rather than the expected error

## Expected Behavior
If no item exists for the provided primary key then s

[2019-04-12 13:46] carlwhittick opened #885 "Primary key of 0 returns empty JSON rather than expected 203"
# Bug Report
Passing a 0 as the primary key returns empty data rather than the expected 203 (item not found) error.

## Steps to Reproduce

1. Go to "/_/items/exampletable/0"
2. See empty JSON object

## Expected Behavior
Return 203 (Item not found) error

## Actual Behavior
Returns empty JSON object

[2019-04-12 14:32] carlwhittick opened #886 "Passing in a mathematical shorthand representation of the primary key returns results"
# Bug Report
Passing in the mathematical shorthand for a number returns results

## Steps to Reproduce

1. Go to "/_/items/exampletable/2e1"
2. Will return results for 20

## Expected Behavior
Error as no primary key of 2e1 exists

## Actual Behavior
Returns results for the result of the representation i.e. 20

[2019-04-12 14:59] Lapsus opened #887 "Maintenance mode"
# Feature Request
Use command line `bin/directus maintenance:on` and `bin/directus maintenance:off` to put the api into maintenance mode.

When maintenance mode is active, decline all requests with HTTP 503: Service unavailable. The App and other clients could then display a proper message to the user informing him of the maintenance state.

## What problem does this feature solve?
This prevents d

[2019-04-12 15:44] #750 closed

[2019-04-12 15:53] rijkvanzanten commented on #887
The API currently already has a production and development mode (see https://github.com/directus/api/blob/master/config/api_sample.php#L5). I think adding a third option `maintenance` would be really useful 🙂

The only thing that's a bit tricky is that this flag is set in the php config file, and can't be updated by the API directly (yet). That means that the cli would have to write this in the ac

[2019-04-12 16:50] rijkvanzanten commented on #880
Good point. I can set it to JSON field type by default, but then it will break if you try saving a non-JSON value, like a string of regular code 🤔

[2019-04-12 17:12] rijkvanzanten commented on #858
I spend some time reconfiguring the symlinks between the "canary" and "stable" demos. They should sync up nicely now.

[2019-04-12 17:12] #858 closed

[2019-04-12 18:24] Lapsus commented on #887
Or ...

I dont fully understand the difference between development and production mode. But in both modes you want the api to answer requests, while in maintenance you want to block requests. So using the same config option for all three seems unwise.

In addition you should not have to modify the configuration to enable/disable maintenance.

I would suggest another approach. cli writes/deletes a

[2019-04-12 19:07] srjrol opened #888 "Too many revisions for relational fields"
# Bug Report

## Steps to Reproduce

1. Create collections with Many-to-Many fields pointing back to each other.
![image](https://user-images.githubusercontent.com/34398302/56061104-29a3f300-5d2e-11e9-82b4-c99246307b8f.png)
![image](https://user-images.githubusercontent.com/34398302/56061108-2c064d00-5d2e-11e9-87e3-e5ea7c1516ed.png)
2. Create new or choose existing items from either collection.
3.

[2019-04-12 19:27] rijkvanzanten commented on #874
Closed in https://github.com/directus/api/commit/0c65c93fa990e2b4abb31cbb5e1cd6db0828a53d

[2019-04-12 19:27] #874 closed

[2019-04-12 22:28] benhaynes commented on #887
Smart. Maintenance is definitely an _additional_ mode, not just a third. Is this _flag file_ in the logs better than saving a flag record in the database (eg: `directus_settings`)? Maybe the DB is a bad idea since it may be offline and unreadable?

[2019-04-13 05:44] Lapsus commented on #887
If the flag file is in a writeable location (thats why i suggested logs/) you can enable/disable maintenance mode from shell, ftp or any other outside mechanism that is able to create/remove the file. This makes it very easy to integrate this into any deployment tool.

And i agree, having it in the database requires database access.
Another thing, the router has to validate the existance so having

[2019-04-13 11:20] benhaynes commented on #887
💯 — I'm on board with this. @rijkvanzanten how about you?

[2019-04-13 15:10] rijkvanzanten commented on #887
Works for me!

[2019-04-13 15:11] honzabilek4 commented on #659
Can anyone take a look at this? Or can we discuss how can we implement this feature? Without the instant refresh, the cache is unusable right now. But all of us could definitely benefit from the redis (or other cache) integration. I'm personally willing to work on this, just need some discussion on how to do it exactly.

[2019-04-13 17:35] rijkvanzanten commented on #659
I think having one `skip-cache` flag in the API would already help out tremendously. That would allow the application to work with the API. Secondly, we should have an option where the cache gets invalidated on save instead of based on time. @bjgajjar @theharshin @hemratna

[2019-04-13 17:38] honzabilek4 commented on #659
I love this Idea! 🙂😊

[2019-04-14 09:12] stereobooster commented on #367
If Directus was built on PostgreSQL it would be possible to use it with API generators, like

- [hasura](https://hasura.io/) - Instant Realtime GraphQL on Postgres
- [PostGraphile](https://www.graphile.org/postgraphile/) - Instantly spin-up a GraphQL API server by pointing PostGraphile at your existing PostgreSQL database
- [PostgREST](http://postgrest.org) is a standalone web server that turns yo

[2019-04-14 11:28] dvdbot opened #965 "Thumbnails in file library are taken from wrong url - where does it even come from?"
# Bug Report

Let me explain my problem:

I'm running the Directus App and Directus API in two seperate clusters on Kubernetes  (using the official docker images), in between them is a API Gateway which reroutes everything related to Directus straight to the API, I've configured my API end-point as follows:

`https://example.com/directus/_/`

I also configured the following env/config options as f

[2019-04-15 09:39] wiwski commented on #861
Same error here after added a m2m relation and deleted it.
Any workaround while we waiting for a fix ?

[2019-04-15 13:41] okayawright opened #891 "Cache invalidation problem"
Some cached data are sent back from the API whereas they should have been invalidated

# Bug Report

## Steps to Reproduce

1. Activate the cache on the API (e.g. through memcache or apcu)
2. Create a collection through the APP or API
3. Retrieve at least once the content of this collection through the APP or API
4. Add a new entry to this collection through the APP or API and save it
5. Retrieve

[2019-04-15 13:47] benhaynes commented on #861
@bjgajjar @hemratna — any thoughts on this?

[2019-04-15 16:18] pikzelz commented on #784
@rijkvanzanten I am also trying to get the filter to work with a M2M relation, however it is giving me an unexpected error.

I have a table **trains** and a table **stations**, I link them together with a junction table called trains_stations with fields: train and station.

In the setup of M2M (stations on the trains table) I link **trains.id** to **trains_stations.train** and **stations.id** to

[2019-04-16 00:32] benhaynes commented on #784
@rijkvanzanten is mostly on the App side — but maybe @bjgajjar has some thoughts?

[2019-04-16 09:59] tmshv opened #893 "Wrong MIME for uppercase extension"
# Bug Report

Directus sets mime type for uploaded image as application/octet-stream if file extension written in uppercase

## Steps to Reproduce

1. Go to 'File Library'
2. Click on '+'
3. Open file selector
4. Select file with extension written in uppercase

## Expected Behavior

Uploaded file with image/jpg mime

## Actual Behavior

Uploaded file with application/octet-stream mime

## Other Co

[2019-04-16 13:25] alrick opened #914 "Duplicate key on creation if id is changed via database"
# Bug Report

## Steps to Reproduce

1. Setup some records in a collection
2. Alter the id of said records in the database directly
3. Try to add some record via the App

## Expected Behavior
The records is added correctly.

## Actual Behavior
An error message pop with a "duplicate key" message.

## Other Context & Screenshots
Sorry for the title of the report, couldn't find something short and si

[2019-04-16 19:12] yarick2000 commented on #8
I wouldn't agree with that. What if I'm importing data from one DB to another one and there is already a data there with the same ID value? There will be a conflict then... The UUID should be something unique, probably generated basing on several data sources, not just name and id (e.g. machine name, MAC address, time, etc.)

[2019-04-16 20:20] victormidp commented on #624
Still having the problem with the current latest version. Now, the logo gets 'saved' but the interface never shows it

[2019-04-17 13:19] bjgajjar commented on #861
@benhaynes

I will look into it and let you know soon.

[2019-04-18 05:27] theharshin commented on #861
@luglio7 @wiwski There is a known issue of relational fields that they are not being synced with VueX once updated, hence Vue does not know how to handle those. Can you refresh the app after changes are made in relational fields and try again and let me know if the error occurs?

[2019-04-18 06:52] theharshin commented on #624
The logo is being saved successfully. Just need to change some variables on APP side to reflect it. This PR should fix it. https://github.com/directus/app/pull/1510

[2019-04-18 07:15] Lapsus opened #894 "Items endpoint not respecting status as documented/expected"
# Bug Report
Fetching and item from the api endpoint the status parameter is ignored.

![Bildschirmfoto 2019-04-18 um 09 00 30](https://user-images.githubusercontent.com/799809/56342994-cf85b080-61b9-11e9-86e0-41033b3c3149.png)

But the documentations clearly specifies status as valid parameter.

![Bildschirmfoto 2019-04-18 um 09 09 30](https://user-images.githubusercontent.com/799809/56343024-eb8

[2019-04-18 07:31] theharshin commented on #893
Thanks for the report @tmshv :) Should be fixed by PR https://github.com/directus/api/pull/895

[2019-04-18 08:23] luglio7 commented on #861
Already tried, does not work.

[2019-04-18 11:56] theharshin commented on #753
Hi @kamlekar, closing this issue as it is not reproducible at our end. Feel free to open a new issue with more details & logs if possible. Thanks.

[2019-04-18 11:56] #753 closed

[2019-04-18 12:10] bjgajjar commented on #854
@pessimisticpaperclip

The system is working as expected so this can't be actually considered as a bug. Take a scenario:

You've created 2 statuses:

1. Private
2. Public

You have records & its permissions are based on status.
Now if you remove the 'status' fields & we make those available irrespective of 'status' permission, it will expose unwanted data.
To make a data public again, you should a

[2019-04-18 12:11] #854 closed

[2019-04-18 12:14] #807 closed

[2019-04-18 12:18] theharshin commented on #752
Hey, @shealavington
I see both the issues are fixed/not reproducible on the latest version. Feel free to open the issue if it persists at your end. Closing this for now. Thanks 🙂

[2019-04-18 12:18] #752 closed

[2019-04-18 12:49] bjgajjar commented on #762
Seems it is working fine on Mac and Linux systems, but not on Windows. The issue might be related to the `.htaccess` file.

[2019-04-18 12:55] shealavington commented on #894
It's worth mentioning:

The status filter does work fine for the `/items` endpoint, however, it's only when specifying a primary-key, and trying to fetch a single item `/items/[pk]` that the item doesn't filter.

As noted, it's probably just a Documentation update that a single item can't be filtered.

[2019-04-18 13:01] Lapsus commented on #894
Thx @shealavington for the clarification.
And sorry for the bad/unclear/unspecific description.

/items works as expected and as documented, but /items/[pk] does not.
As shown in the screen shots, the docs list status as valid parameter for /items/[pk] but it is ignored in this case.

[2019-04-18 13:23] bjgajjar commented on #684
Hi @swaipdev,

I've checked your database and found a wrong configuration of relation.
You've created a field `Pieces Jointes` under `Items` collection. The issue is with `Listing View Preferences` configuration, where you've used the default filter which is `name` and that field is not set up under the related collection. That's why the API is showing an error.
Here is the screenshot for referenc

[2019-04-18 13:23] #684 closed

[2019-04-18 16:58] benhaynes commented on #894
Thanks @Lapsus! So the bigger question here: How _should_ it work? Does it make sense to have the `status` parameter on the `/items` endpoint?

ping @rijkvanzanten

[2019-04-18 17:16] mimamuh opened #897 "Vue error after image upload with same image names"
# Bug Report
After uploading the same image twice though the `app` a crash happens using the `aws` storage provider:
[code]

## Steps to Reproduce

1. Create a new project of version `190325A`
2. Connect with a `AWS? storage provider (not sure if it is needed)
3. Upload a image using the `File Library`
4. Upload the same image again - error should occur

## Expected Behavior
List the new image in

[2019-04-18 17:24] benhaynes commented on #897
Depending on the file naming chosen, the API should always handle this:

* **Original** (default naming) — should append a `-1` incrementing number to the end until there's a unique filename (this _was_ working before).
* **Hash** — this _should_ be the default, and would avoid the issue since each filename is a UUID
* **ID** — this would also resolve it since each ID is unique, and therefore the

[2019-04-19 09:36] shealavington commented on #894
I think, it makes sense for the `status` parameter to only work on the `/items` endpoint (at root level). When requesting a single item using a primary key, `status` shouldn't work (as filters don't) `/items[/[primary-key]`.

Perhaps this could be a future enhancement to allow filtering of single items based on criteria, but I don't think it's important. For now I think we just need to remove `sta

[2019-04-19 11:29] Lapsus commented on #894
Ok, i basically agree.
If filter and status dont work when /items/[pk] is used, then i suggest that i update the docs.
Which is fine for me.

[2019-04-19 12:24] mimamuh commented on #897
Hi @benhaynes,
yes, the API handles it correctly. It is the vue app in the `Library View` which has some issue to display the thumbnail afterwards for some reason. I made a short video of the issue so you see when the error actually happens: [https://www.loom.com/share/3bdfc85c51af42c4ba1ce35f28276f68](https://www.loom.com/share/3bdfc85c51af42c4ba1ce35f28276f68)

[2019-04-19 12:37] benhaynes commented on #894
Agree! I do want to make clear that the `/item` endpoint should still _honor_ the status.

[2019-04-19 12:39] benhaynes commented on #894
Ref: https://github.com/directus/docs/commit/f92ae862e61a0d8a3ca44b85fb7e02e1fcb4a6ba

[2019-04-19 12:39] #894 closed

[2019-04-19 13:46] rijkvanzanten commented on #873
I'm marking this an enhancement seeing that it's technically not something that's broken as is, but something that was never implemented / meant to work in the first place. I do agree that this would be a great enhancement to have though 🙂

[2019-04-19 22:49] mantir opened #900 "Feature request: Let user be in multiple permission groups"
It was already requested years ago in #1704 in an earlier version. I don't know if it's just not implemented in the directus admin app, because I can't select multiple roles for a user.

If a user could be in multiple permission groups he could create/read/update/delete items from collections with permissions "own role" from several roles.
I think this is essential for a good permission management

[2019-04-19 23:46] rijkvanzanten commented on #900
Yep! Like @benhaynes said, the main thing that's missing before we can "enable" this in the application is the fact that the API needs to combine all the permissions of all the groups that a single user is in, and make sure the highest permission applies. After that, the application update itself is a matter of switching out the dropdown for `roles` in directus_user for a one to many interface.

[2019-04-21 05:55] itsmerhp commented on #777
Hello @wellingguzman and @rijkvanzanten
You are right, the issue is taking place due to ONLY_FULL_GROUP_BY restriction for MySQL version greater than 5.7.

References:
https://stackoverflow.com/questions/34115174/error-related-to-only-full-group-by-when-executing-a-query-in-mysql
https://stackoverflow.com/questions/41887460/select-list-is-not-in-group-by-clause-and-contains-nonaggregated-column-in

[2019-04-21 12:37] pikzelz commented on #784
@benhaynes thanks. @bjgajjar I've been going down the path further and it looks like it keep repeating the original table in the relation functions instead of the junction table it needs to set in the relation to be able to get it to work. I tried to get it to work myself but haven't been able to (mainly because I don't have enough time to spend on it). Hopefully this is helpful.

[2019-04-22 05:58] bjgajjar commented on #784
@pikzelz Thanks for the pointing out. I will check the issue ASAP. :)

[2019-04-22 05:59] bjgajjar commented on #893
Closed out in pull #895

[2019-04-22 05:59] #893 closed

[2019-04-22 07:24] #891 closed

[2019-04-22 07:25] theharshin commented on #871
Hello @laravel1112 Can you provide more details about the issue? I'm not able to reproduce the issue. A screenshot of an issue or steps to reproduce it would be a great help 🙂

[2019-04-22 07:50] theharshin commented on #853
@rijkvanzanten The issue is with API. Here are the screenshots from the api request:

Request:
![image](https://user-images.githubusercontent.com/7118937/56489963-2b756f80-6501-11e9-8344-e9f05b6a6bd8.png)

Response:
![image](https://user-images.githubusercontent.com/7118937/56489983-3af4b880-6501-11e9-95b4-24bbd71c37f5.png)

@bjgajjar Lets have a look at this 🙂

[2019-04-22 08:37] theharshin commented on #659
@honzabilek4 Does this PR helps to solve your current requirement? https://github.com/directus/api/pull/892
As @rijkvanzanten suggested, we can still consider adding a `skip-cache` flag in endpoints to get live data.

[2019-04-22 10:33] theharshin commented on #817
@benhaynes @maartenvanbenthem
[code]
would not work as if you provide same key for URL params, only latest one would be applied. Instead `in` operator should work here!

[code]

@maartenvanbenthem Let me know if this works so I can close this issue 🙂

[2019-04-22 11:36] laravel1112 commented on #871
Sorry, the issue is already resolved with the latest version of directus.
I had an issue in old version.

[2019-04-22 11:36] #871 closed

[2019-04-22 11:44] #798 closed

[2019-04-22 17:01] benhaynes commented on #897
Thank you! @rijkvanzanten can we look into this?

[2019-04-22 20:47] honzabilek4 commented on #659
Thanks! It seems like #892 could solve the issue. I'm going to test it in the following days and close the issue if applicable.

[2019-04-22 22:07] justrealmilk opened #902 "Global Settings errors: Attempting to write an array as the value for field "value" in "directus_settings""
# Bug Report

- Upon adjusting Thumbnail Quality Tags, Thumbnail Actions, in Global Settings: `Attempting to write an array as the value for field "value" in "directus_settings"`
- Upon removing a set Logo, `This value should not be blank`

## Steps to Reproduce

- Attempt to adjust Thumbnail Quality Tags, Thumbnail Actions
- Attempt to remove set logo

## Technical Details

Cloned `master` branch

[2019-04-23 08:24] bjgajjar commented on #886
Closed out in pull #899

[2019-04-23 08:24] #886 closed

[2019-04-23 08:25] bjgajjar commented on #884
Closed out in pull #901

[2019-04-23 08:25] #884 closed

[2019-04-23 08:25] bjgajjar commented on #885
Closed out in pull #898

[2019-04-23 08:25] #885 closed

[2019-04-23 09:32] bjgajjar commented on #876
@alrick @rijkvanzanten

I'll fix the issue and send the PR ASAP!

[2019-04-23 10:22] kjj77 commented on #684
Hi guys,

thanks it works, guess I've just some hard time understanding the new
interface, most notably in the relation fields.

Carlo

On Thu, Apr 18, 2019 at 3:23 PM Binal Gajjar <notifications@github.com>
wrote:

[2019-04-23 15:35] mimamuh opened #903 "Allow admins to see soft-deleted items"
# Bug Report

I can't see soft-deleted items as the admin user.

## Steps to Reproduce

1. Be an admin
2. Create a item and set status to `deleted`
3. Item should not be visible in the list.

## Expected Behavior
See item after soft-delete.

## Actual Behavior
Item is not visible in the list view.

## Technical Details

- Device: Macbook
- OS: macOs
- Browser: Chrome
- Directus App: 7.1.0
- Direct

[2019-04-23 17:11] mimamuh commented on #903
@benhaynes Okay, sorry for that. I was not sure because of https://github.com/directus/app/issues/174, it seemed to me it was already a feature? Thx for your help!

[2019-04-23 17:13] benhaynes commented on #903
Oh, you are 100% right. Maybe @rijkvanzanten was incorrect... but either way we should look into this. Maybe it is an option (and broken) or it's not and should be! Either way, we'll check it out!

[2019-04-23 17:14] Nitwel commented on #903
The thing is, especialy for newcomers, its not really clear that they "soft delete" the item when changing it to deleted. Even I thought it would just display in the database as deleted and not being removed. To make this more clear, we could add a delete prompt when soft deleting it so the user understands what he is doing.

[2019-04-23 17:19] benhaynes commented on #903
Hmm, do you not get this alert when deleting an item?

![Screen Shot 2019-04-23 at 1 18 20 PM](https://user-images.githubusercontent.com/522079/56601926-55df2f80-65ca-11e9-8de1-b7bccbf19683.png)

The idea was that the App/API treats soft and hard delete the same (other than deleting from the database). Still, I do agree that Admins should probably have access to see soft-deleted items.

[2019-04-23 17:34] Nitwel commented on #903
Nope, I'm not getting any popup when soft deleting:

![GIF](https://user-images.githubusercontent.com/22577866/56602908-ce5fe380-65fe-11e9-881c-dce6704a3e54.gif)

[2019-04-23 17:41] mimamuh commented on #903
Hm, I think I would rather change both delete options to a `soft-delete` per default for both 'buttons'.
From a UX perspective it is confusing to me having the `delete-button` doing something different than the `soft-delete radio option` ... that is an issue to me too. Because it is hard for a non techy person to understand the difference.

From a UX perspective I would solve it like that:
1. Both

[2019-04-23 18:04] benhaynes commented on #903
Ahhh, @Nitwel — I always use the delete button in the Item Detail header (which maps to soft-delete if one exists)! You're absolutely right, we need to enforce that check on the status interface too! Would you mind opening a ticket for that?

@mimamuh — both are doing the same thing... and we need to treat the UX the same (eg: show the same confirmation on the status interface).

I think we would

[2019-04-23 18:14] Nitwel commented on #903
I also really like the idea that when somebody softdeletes an item, the item doesn't get 100% disconnected from directus but maybe is still accessable in a section of the admin panel. So if somebody non admin deletes something, admins could recover it easily. And in the new view there could be a clear trashbin button, which deletes all items in the trashbin completly.

[2019-04-23 20:02] mimamuh commented on #903
Aaah, okay. :) I'm too new to directus. I really thought using the 'delete' icon button would remove it permanently and the status is a soft-delete.

I see two things and they are somehow independent from each other:

1. Who can resurrect item?
Here I would definitely love that non-admin users can change a `soft-deleted` item back again too. It is a common concept like the trash bin on desktop. An

[2019-04-23 21:13] zeusstl opened #904 "No user role assigned when creating new user via api"
# Bug Report

When creating a new user via the api, no role is assigned to the new user.

## Steps to Reproduce

Send the api call:

POST /_/users HTTP/1.1
Host: mydirectusdomain.tld
Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW
Authorization: Bearer eyJ0eXAiOiJ0aCIsImtleFULLVALIDTOKENNDkyZTVhZiOiJfIn0.9E7AcoPfMAw5vrb3M9AMHjToDqcPbPBJf8GF6qG
cache-control: no-ca

[2019-04-24 06:35] shealavington commented on #904
I'm not sure I would call this a bug—it's more of an enhancement that's been discussed before, that will allow you to create users with roles.

[2019-04-24 11:02] benhaynes commented on #904
The important question is: _can_ you set a role when creating a user through the API? Does it need to be an additional call?

[2019-04-24 11:09] shealavington commented on #904
Going by my understanding:

I believe it's an additional call to the roles table when authenticated with the correct privilege for that table. Eg; an admin would make two calls, create the user, then add the user to the role.

There's not really any concept of a "default role" as far as I'm aware, which is where this would become an enhancement, by potentially allowing  the setting of a default ro

[2019-04-24 11:15] benydc commented on #179
@rijkvanzanten @benhaynes
I was able to debug this and found this execution `$result = $statement->execute();` from `AbstractTableGateway.php`, takes 2 seconds, doesn't matter the statement or query used.
I have uploaded a video of the issue:
https://streamable.com/fj32f
screenshot:
https://imgur.com/a/NYe0Xey

I'm using MySQL 8 with Directus Docker API/APP

[2019-04-24 11:53] rijkvanzanten commented on #904
You can assign and even create a role through the api directly when creating a use. User to roles is nothing different from a regular M2M and works the same way when posting an item.

[2019-04-24 12:01] benhaynes commented on #904
OK, I've added a ticket to the Docs repo where we can further explain this with an example.

Do we want to keep this one open and add a "default" role for users? Should the user's role be optional or required?

[2019-04-24 12:14] benhaynes commented on #903
@Nitwel — Whether a table hard or soft deletes an item is solely based on if it has a `status` field and if that status mapping has a `soft-delete` option. That way the admin can decide if items are precious enough to keep around (articles) or not (keywords) on a per-collection basis.

@mimamuh — the only issue I see here is that choosing the status's soft-delete option should act the exact same a

[2019-04-24 12:26] benhaynes commented on #903
Something like this, where the "more" dots on the right of each collection have an option to "Empty Trash Permanently" or "View Items in Trash" which would take you to the Item Browse page filtered by `deleted` status (only can be seen by admins).

![Directus 8 – Settings Trash](https://user-images.githubusercontent.com/522079/56659219-8aa2c380-666a-11e9-8445-96b2792c1fd2.png)

[2019-04-24 13:17] mimamuh commented on #903
Okay, now I start to realize how the implementation works, nice. :D
Maybe it would be cool to document this case in the docs. But probably it is already the case?

From a technical point of view I'm totally on your page:
For some collections I can enable `soft-delete`, for others `hard-delete` - makes sense especially when I think about directus as a data management tool.

I was more thinking from

[2019-04-24 14:06] rijkvanzanten commented on #903
The one question I have to add to this is what should the app do if you have two or more statuses that are marked soft delete? If you hit the delete button, to what status should the app set the item?

[2019-04-24 14:08] rijkvanzanten commented on #904
Good question, a user without a status is also locked out of the system which makes it act like `inactive`.

[2019-04-24 20:32] zeusstl commented on #904
A little more reasoning for why I thought this was a bug:
The user can be created via the Public api. But using that public api you cannot add a role bc that would allow you to create an admin. So you end up with a user with no role.

[2019-04-24 20:35] shealavington commented on #904
_Just throwing an idea out there_
Could you add a user to the public role?..

I was thinking the system could add new users to public by default (so they have a role assigned), and create a setting for "default role", where an admin can select the registration role if they want anything other than...

[2019-04-24 21:37] nashtu3000 opened #905 "There was a problem connecting to the database: SQLSTATE[HY000] [2019] Can't initialize character set utf8mb4 (path: /usr/share/mysql/charsets/)"
# Bug Report
Can't install because of an error.
[code]
Mysql reports:
[code]

I am running on CentOS release 6.10 (Final), with MariaDB-server.x86_64 10.3.14-1.el6, and .

What can I do to make it work? I can't find anything on Google and I'm lost.

[2019-04-24 23:06] benhaynes commented on #904
Hey @zeusstl — this would work fine if you create the user with an actual token (instead of public).

To me, the idea of opening up creating non-public roles from a public endpoint doesn't fit our [80/20 rule](https://docs.directus.io/getting-started/contributing.html#_80-20-rule). It also seems rather unsafe — so I'd say the best way to accomplish this would be to build your own user/member colle

[2019-04-24 23:22] rijkvanzanten commented on #904
The question of registering new users from the outside is a feature that has been asked about before a couple times already. As of right now, you can open up `create` for `directus_users` for a specific status.

[2019-04-24 23:23] shealavington commented on #904
Is an understatement if you look in the Slack 😂

[2019-04-24 23:28] rijkvanzanten commented on #904
😬

[2019-04-24 23:32] rijkvanzanten commented on #904
Can we come up with a way where we can lock of particular roles in the O2M from directus_users based on the status? We can already lock the status one can create from a public role 🤔

[2019-04-25 02:15] cristianopolicarpo opened #906 "api[].ERROR: PDOException: SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key length is 767 bytes"
# Bug Report

## Steps to Reproduce

1. Go to 'https://github.com/directus/directus'
2. git clone https://github.com/directus/directus.git
3. Install from App admin
4. See error
[2019-04-25 02:06:55] api[].ERROR: PDOException: SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key length is 767 bytes in /home/admin/web/mydomain.com/public_html/directus/vendor/r

[2019-04-25 05:29] nashtu3000 commented on #905
@rijkvanzanten , MySql version is 10.3.14, 10.3.14-MariaDB-log.

@benhaynes What can I do to bypass and successfully install it?

[2019-04-25 07:44] shealavington commented on #905
A few resources.

https://dev.mysql.com/doc/refman/8.0/en/charset-configuration.html

https://bugs.mysql.com/bug.php?id=82349

[2019-04-25 10:32] nashtu3000 commented on #905
I ended up fixing this with adding the following code to `/usr/share/mysql/charsets/Index.xml`:

[code]

I think everything is working now, even though I am not 100% sure.

[2019-04-25 13:51] shealavington commented on #905
Between the error message and your resolution—that looks like a good solution.
I'm going to close this issue now, as it appears solved by that missing charset.

[2019-04-25 13:51] #905 closed

[2019-04-25 14:14] benhaynes commented on #905
If this comes up again, we should figure out why certain databases aren't accepting `utf8mb4`... since that's now part of the install process.

[2019-04-25 15:01] benhaynes commented on #440
To be honest, I don't really see this as a critical bug right now. Every collection needs a PK and won't function without one. We can't rename fields since the column name is referenced throughout settings/relationships.

We are currently beholden to ZendDB, which doesn't support this and isn't really getting many updates these days. So we don't have a lot of options.

We're not at a point where D

[2019-04-25 15:01] shealavington commented on #905
Is this an issue that's happened before? As far as I'm aware utf8mb4 is well supported.

It was added in MySQL 5.5, therefore, any issue is _likely_ due to user configuration. Perhaps a migration failure in an upgrade through 5.5 or something? Where the charset was never added to the user MySQL installation.

Resource: https://dev.mysql.com/doc/refman/5.5/en/charset-unicode-utf8mb4.html

[2019-04-25 15:05] benhaynes commented on #855
This isn't just related, it seems like a duplicate of #455. I'm closing this one in preference of the original, but all of this info has been linked to that ticket for reference.

[2019-04-25 15:05] #855 closed

[2019-04-25 15:08] benhaynes commented on #905
I think it might be tied to MariaDB in this case... because MySQL should be fine. :)

[2019-04-25 15:35] nashtu3000 commented on #905
Yes, I am thinking the same. I think it might just be something that they forgot to include in the latest package.

[2019-04-25 15:41] rijkvanzanten commented on #906
I believe this might be caused by the fact that the new default collation `utf8mb4` has a bigger bytesize for it's strings than the old `utf8`. MySQL upgraded this byte limit in v5.7+. @cristianopolicarpo What version of MySQL are you using?

Ref limits for VARCHAR:

INNODB utf8 VARCHAR(255)
INNODB utf8mb4 VARCHAR(191)

[2019-04-25 16:18] benhaynes commented on #903
@rijkvanzanten — adding more than one `soft-delete` option would be a misconfiguration... but we could always just use the first one if we needed a fallback.

@mimamuh — I've added a ticket to the Docs repo. We're pretty busy right now, but hopefully someone (internal or external) will find time to add this soon! :)

[2019-04-25 16:27] benhaynes commented on #904
Honestly, I've read your comment ten times and I still can't wrap my head around it, @rijkvanzanten.

:|

Just curious, isn't allowing admins to set a default group for new users the easiest and safest option? By default this could even be the `public` role since it would be the least permissive.

[2019-04-25 16:38] benhaynes commented on #179
As of now the PHP API is completely beholden to the ZendDB library, and our codebase has been carried along version-to-version for a while now... leading to a bit of piecemeal. We're looking into doing a larger refactor starting in the next month or so which would give complete focus to stability and performance.

The question now is if we should switch to a Node API — since that is our internal t

[2019-04-25 16:46] shealavington commented on #904
I also didn't understand that Rijk 😂

Consider: Upon registration, users get to pick red team or blue team. These are two roles, which you should be allowed to provide as a "self-assign-role" when registering.

Understandably, Directus isn't built around providing a user system, however there seems to be a demand for allowing users to select a role on registration.

Could we put up a poll (somehow

[2019-04-25 17:00] benhaynes commented on #904
There have indeed been a lot of people requesting "Register"... and you might have noticed I included a button for this in the new Login design! Ref: https://github.com/directus/app/issues/1525

I'd say we should plan on building this in as a core feature (off by default). Still, I don't think users should be able to _pick_ their role. We don't allow it for existing users on the User Detail page..

[2019-04-25 17:55] cristianopolicarpo commented on #906
I am using the following mysql version: Ver 14.14 Distrib 5.5.42, for Linux (x86_64) using readline 5.1

[2019-04-25 22:28] rijkvanzanten commented on #906
I'm using 5.7.x locally and haven't seen the issue myself, so this confirms my suspicions. I think we can / should play it safe and reduce the length of certain columns on installation seeing we officially still support MySQL < 5.7 @benhaynes

[2019-04-25 22:31] rijkvanzanten commented on #904
Wait... I think this all already works..? You can open up `create` permissions for the public group, but put the `status` in the field write blacklist. This combined with the default value for status should be enough?

[2019-04-26 01:39] cristianopolicarpo commented on #906
I was thinking that this worked in mysql 5.5+ as I read in the documentation:

https://docs.directus.io/getting-started/installation.html#requirements

MySQL 5.5+
A Database (empty or existing)
A Database User (with access to database)
PHP 7.1+
Extensions: pdo, mysql, curl, gd, fileinfo, and mbstring

[2019-04-26 02:14] rijkvanzanten commented on #906
Yeah you're right. Hence the `bug` label 😉

[2019-04-26 04:50] bjgajjar commented on #810
Closed in #908

[2019-04-26 04:50] #810 closed

[2019-04-26 05:38] theharshin commented on #902
@bjgajjar Same problem as `logo` field? Can we think of a better way to handle `directus_settings`? The key-value pair strategy will create a lot of problems for complex settings!

[2019-04-26 05:53] theharshin commented on #903
@benhaynes @rijkvanzanten How about using a status `archive` instead of a `delete` 🤔 That would give a clear perception of what it does. And we can add an option in `info` pane to show archived items in the listing.

[2019-04-26 06:37] theharshin commented on #904
I think we should introduce the default role named `User` in addition to `Administrator` and `Public`. This can be used as the default for new user addition via API or from Directus App. Obviously, there won't be too many administrators while adding users to the system so default `User` role will be applied all the time while creating a user.

With this we can have a clear picture of a system divi

[2019-04-26 10:21] #902 closed

[2019-04-26 10:54] bjgajjar commented on #902
Fixed in #909

[2019-04-26 12:19] #841 closed

[2019-04-26 12:19] bjgajjar commented on #841
Fixed in #911

[2019-04-26 13:16] theharshin commented on #876
@alrick @rijkvanzanten I and @bjgajjar both are not able to reproduce this issue at our end!
@alrick can you update the API & APP to the latest version and check if the issue persists? Also, don't forget to run the database update script after updating codebase.

[2019-04-26 13:19] rijkvanzanten commented on #876
@theharshin just to confirm, you tried the

part as well? That might be the reason it's causing problems right now

[2019-04-26 13:31] theharshin commented on #876
Yes, I've changed the `ID` in `user` column from admin to another user so the user can directly see the preset set by Admin. The user was able to change the preset later.

[2019-04-26 13:52] alrick commented on #876
Thanks for your tests @theharshin
Did you try with the user set to `null` too ?

I'll update the app next monday and test everything again.

[2019-04-26 13:53] benhaynes commented on #903
@theharshin — the status mapping is completely open, so admins can name the `soft-delete` option whatever they want.

Since users can't un-delete/un-archive items, I think it's important to make this _seem_ like a permanent action — so I prefer delete instead of archive... but again, the admin can name it whatever they'd like.

One important thing we can do is to _not_ show the `soft-delete` optio

[2019-04-26 14:06] theharshin commented on #903
I think this is the best way as it is not a good idea to mix up system-generated `status` and user-generated `status` and confuse the users. Right now, for me, the `status` field is a shady thing which does something in the background and I'm not aware of it 😄

[2019-04-26 14:07] benhaynes opened #912 "Add "Relational Only" to permission levels"
A common use-case is admins wanting to fetch relational data, but not wanting to open-up full read access to that related collection.

For example, you may want to return `Project > Files` (deep relational) but don't want to completely open up READ access to the `directus_files` collection.

So we could add a new permission level that only allows CRUD access when it's performed through a relations

[2019-04-26 14:10] rijkvanzanten commented on #903
There's no system generated status. I think you're confused with the default value of the status interface.

[2019-04-26 14:13] benhaynes commented on #904
Hmm, we _could_ add another included user role for `user` but I don't know about using it as a registration default. I think using `public` makes more sense since it's the least permissive. If you have a user signing up on a public page, giving them public access isn't that risky.

Again, we can add a "Choose your default user role" dropdown in Settings so that admins can override — but our defaul

[2019-04-26 14:16] rijkvanzanten commented on #902
How so? The alternative in SQL would be to have a column per setting with only one row. That's the only way it can work the same as other collections, but that's not realistic with the large amount of options..

[2019-04-26 14:16] benhaynes commented on #902
Even complex settings like these thumbnail options can be distilled down to simpler forms:

https://github.com/directus/api/issues/813

This would be a _big_ refactor... so let's keep discussing, but I'd say KVPs are what we have for now.

[2019-04-26 14:31] theharshin commented on #902
By complex settings I mean that a single setting may contain sub-setting. Just like Thumbnail Options.
Right now for settings, we're using interfaces which are returning `JSON`, `Array`, `String` & `Numbers`.
All this format needs to be converted to a `String` to save into the respective column.
For now, we've handled those by converting them into `String` or `CSV` based on their datatype.

[2019-04-26 14:53] benhaynes commented on #902
Right. What do you propose?

[2019-04-26 15:32] benhaynes commented on #906
Hey @bjgajjar @hemratna — does this update make sense to ya'll? Do you need any more information to resolve this?

[2019-04-26 16:05] rijkvanzanten commented on #906
I'm thinking migrations like these are the culprits

https://github.com/directus/api/blob/ef40463a88ca8379188b596439da5bcfaadf5e9f/migrations/db/schemas/20180220023202_create_fields_table.php#L59

[2019-04-28 02:42] zeusstl commented on #904
Apologies. Not closed - mistake.

[2019-04-28 18:35] benhaynes commented on #914
OK, so I just tested and confirmed this issue. Here's a little more info:

If you have 5 existing items:

[code]

Then you change the `id` (INT, auto-increment) of `2` (Orange) to `7` directly in the database, you get:

[code]

Now if you try to add some new items to the database, the _first_ one goes through fine... as: `6: Banana`. But then the next one will get `Duplicate key "7" for collection

[2019-04-29 07:23] alrick commented on #914
Thanks @benhaynes for the testing, that's the same behavior I experienced.

Regarding the easy answer mentioned by Shea, I agree there is no real reason to directly alter the ID in the database.
But it can happen in a very simple way : if you setup Directus with an existing database (that was a selling point for Directus when I choose the platform). If you have an existing database, you will proba

[2019-04-29 07:38] shealavington commented on #914
Missing keys shouldn't be an issue, as the `auto increment` should still be above the last generated ID.

Is this definitely an API issue — could it be that the APP is taking records `1-6 & 9-10`, 0 indexing the items and then trying to create #9 rather than #11?

[2019-04-29 08:49] mvhirsch commented on #437
UUID support would be great! Any news since v2.0.18 is out? Can I help you on this?

[2019-04-29 09:31] hemratna commented on #906
I agree with @rijkvanzanten on the default `varchar` size with MySQL 5.5 which is 191 characters long.

To fix this issue we have to change the limit 191 from 255 for migrations.

The MySQL 5.5 is [no longer](https://www.fromdual.com/support-for-mysql-from-oracle ) [supported from Oracle](https://www.mysql.com/support/eol-notice.html).

@benhaynes
If you think we have to support the MySQL 5.5 then

[2019-04-29 09:37] theharshin commented on #902
In the current fix, we have applied the following logic for datatypes:

**Array**:
Convert to `CSV` while saving into db.
Convert `CSV` to `Array` in API response.

**JSON**:
Convert to `String` while saving.

I think this conditional conversion should be avoided. One thing we can do is always save the value in `JSON` format like this:

[code]
We need to handle only `JSON` and the original value f

[2019-04-29 10:17] theharshin commented on #903
@rijkvanzanten Hmm, I totally missed this `soft_delete` key thing. I've used the default statues while creating a collection, so I thought those status are system generated 😅

I know this `status` thing is too complex to explain to general users but I found a great UI for this in ClickUp app. I'm attaching a screenshot of UI here just for a reference.

![image](https://user-images.githubuserconten

[2019-04-29 11:14] polgiron opened #920 "Bin installation doesn't create user"
# Bug Report

## Steps to Reproduce

1/ Install and set up directus from the digital ocean droplet, I have upgraded directus from the latest master.
2/ Create a new DB in mysql
3/ Create a new directus API
`bin/directus install:config -n <new-database-name> -u <mysql-user> -p <mysql-password> -N <project-name>`
(I'm using the directus user)
`bin/directus install:database -N <project-name>`
`bin/di

[2019-04-29 12:04] #863 closed

[2019-04-29 12:24] mvhirsch opened #917 "/ping Response won't respect cors.max_age setting"
# Bug Report

Hi,

i just discovered a simple(?) bug while configuring my Directus setup.
I wanted to reduce that many calls that happening to my backend server. Many of them are OPTIONS-Requests. Luckily Directus got me covered: `cors.max_age`. It does it's job, all but for /ping requests.

## Steps to Reproduce

1. Configure cors.max_age setting according to https://docs.directus.io/advanced/api

[2019-04-29 12:59] bjgajjar commented on #863
Closed in #916

[2019-04-29 13:03] benhaynes commented on #903
Love this! I've created an App Feature Request to add it for managing the status mapping: https://github.com/directus/app/issues/1570

[2019-04-29 13:21] benhaynes commented on #437
No updates yet, but we're eager to get this added in as it paves the way for M2X support.

I think the first step is to decide on the UUID format. We should be looking at standard formats, and custom ones... and could have an interface option to change this, or multiple interfaces (one for each).

### Standard
`123e4567-e89b-12d3-a456-426655440000`
This is the standard, and has the added benefit o

[2019-04-29 13:35] benhaynes commented on #914
I think Rijk ruled out the App, and DB auto-increment certainly handles this correctly... so it must be the API doing something funky.

🔔 @bjgajjar @hemratna

[2019-04-29 13:45] #853 closed

[2019-04-29 13:45] bjgajjar commented on #853
Closed in #918

[2019-04-29 13:46] rijkvanzanten commented on #914
Haven't verified this though.

[2019-04-29 13:46] benhaynes commented on #906
Hmm, we want to find a good balance between supporting as many DBs vendors/versions as possible... and supporting safe/modern systems so we can take advantage of their features.

MySQL 5.5 is technically EOL (and is 9 years old)... so it seems OK to update our requirements. The big impact is on cheaper shared hosts that may not be updated. AND, if everything else works on 5.5 then it's nice to mai

[2019-04-29 13:48] rijkvanzanten commented on #437
The second implementation should be more performant in retrieving items in a relational setup. By being able to know what collection a record is from, we don't have to go searching through every single collection in the whole database.

[2019-04-29 13:48] rijkvanzanten commented on #903
Having a solid interface to setup the statuses instead of relying on a JSON object would be a great interface to have 😄

[2019-04-29 13:52] rijkvanzanten commented on #906
I think we should update the minimum requirements for Directus to 5.7+. Based on this issue, we already technically require 5.7+ as of right now. I also believe that MySQL introduced the JSON datatype in 5.7, so that requirement will also allows us to optimize database storage for the JSON type (no more parsing back and forth between TEXT and a JSON object).

(It's similar to our minimum requireme

[2019-04-29 13:56] benhaynes commented on #914
Ahh, let's take a look at the App today to rule that out before @bjgajjar looks through the API. @rijkvanzanten

[2019-04-29 14:01] benhaynes commented on #437
We could generate the first 8 random chars of the UUID and use that for the `directus_collections.key` that way it's still a standard UUID format... though we'd be losing a little of the uniqueness by re-using the first X chars. Or would you prefer prepending the key and keeping the full proper UUID?

https://en.wikipedia.org/wiki/Universally_unique_identifier

[2019-04-29 14:05] rijkvanzanten commented on #437
I don't think it has to be a full GUID, as long as it's unique within the Directus installation.

¿What? All of these are still unique:

[code]

They're not less or more unique than any other unique string 🙂 They look less random, sure, but that doesn't hurt anything. If anything, having the ID prefixed means that we have to do less randomization as the ID now only has to be unique within the tabl

[2019-04-29 14:10] benhaynes commented on #906
Cool! Let's do this!

I can update the Docs, but let's also make sure all code references/checks are also updated.

@hemratna — do you agree with updating our MySQL min version?

[2019-04-29 14:14] rijkvanzanten opened #919 "Set cors.max_age to a higher default"
# Feature Request

Set the max_age value for CORS to a default that's not null.

## What problem does this feature solve?

Every request in the application gets effectively 'doubled' by the need of a preflight CORS request. By setting the max_age option, we can cache the responses of the preflight, which negates the needs of a preflight for every individual request. (ht to @mvhirsch in https://git

[2019-04-29 14:20] mvhirsch commented on #919
:grin: #921

[2019-04-29 14:20] rijkvanzanten commented on #920
You mean the one-click install? When opening the admin app on a fresh install of this, you should be able to install the API through the UI. Any reason why you use the bin tool directly?

[2019-04-29 14:20] benhaynes commented on #437
Right — I meant if we "set" the first X characters of our version of UUID then it's less _globally_ unique. Obviously within a single collection/project this doesn't matter. But, if we're looking to have this PK type be a bit more "future proof" then we could keep this as a UUID... which would leave the door open for inter-project relationships. Imagine being able to create data relationships betw

[2019-04-29 14:21] rijkvanzanten commented on #919
Lets take a second before merging to verify we don't break anything 😁

[2019-04-29 14:22] polgiron commented on #920
it is working fine with the default API, I am adding more API to it for my different projects, it used to work fine I have already added another one in the past, but I have tried yesterday after updating from master and I can't log in anymore to the new created one :(

[2019-04-29 14:22] mvhirsch commented on #919
Just preparing. Closing is always an option :grin:

[2019-04-29 14:22] rijkvanzanten commented on #437
Let's work this out into 1 ID type that works instead of having 3 slightly different implementations 🙂

[2019-04-29 14:23] rijkvanzanten commented on #920
Gotcha 👍

Did you create a new database for these new projects too? Can you confirm the API actually created the api config file and populated this new database?

[2019-04-29 14:26] rijkvanzanten commented on #902
The API already has all of these conversions going on.. somewhere right? Regular collections already have this datacasting in place (esp between CSV-Array and TEXT-JSON).

[2019-04-29 14:26] benhaynes commented on #437
That's fine too — but I still think we'll end up with two. I think it's important to offer an unadulterated UUID type since that's a standard. But since that isn't optimized for our Directus use-cases we can have a Directus Key that includes project/collection data.

Collection Key is easy to prepend... do you like the idea of a globally unique Directus Key that allows for inter-project relationsh

[2019-04-29 14:26] mvhirsch commented on #437
Please take a look in UUIDv5, which is namespaced. https://en.wikipedia.org/wiki/Universally_unique_identifier#Versions_3_and_5_(namespace_name-based)

As long as you declare a namespace with a project's path, you're all fine.

[2019-04-29 14:31] polgiron commented on #920
Yes I am creating a new DB first in the mysql prompt: `CREATE DATABASE photol;`
I have just double checked, yes the config file has been generated, and the DB seems to have been populated as well:
[code]

(my new project is called photol)

[2019-04-29 14:31] benhaynes commented on #437
Hey @mvhirsch — that's correct! But...

What we're trying to achieve here is a way that we can "lookup" a project (namespace) and Collection (table) from the UUID. Since these are hashed we can't actually pull that info for the lookup. However, there's no easy way to add the project in without a full URL in the key (which won't work)... so we'll likely have a lookup KVP in the M2XP (? any collecti

[2019-04-29 14:33] benhaynes commented on #902
If we update min MySQL version to 5.7 don't we remove the JSON->Text conversion?

[2019-04-29 14:33] rijkvanzanten commented on #920
Could you double check that the user was created as well? Did the password get hashed correctly?

[2019-04-29 14:34] rijkvanzanten commented on #902
Yes, but that's beside the point. I'm saying that we shouldn't have to re-invent the wheel for these conversions as the API already has and uses these in other places

[2019-04-29 14:39] polgiron commented on #920
Using phpmyadmin I can see that the table `directus_users` is actually empty in the database photol

[2019-04-29 14:41] rijkvanzanten commented on #920
Are there any errors logged in the `/logs` folder?

[2019-04-29 14:47] polgiron commented on #920
I can see a few yes, maybe it is about permissions?

https://pastebin.com/9Sk0wHDE

[2019-04-29 14:48] rijkvanzanten commented on #920
Hmm those look like the regular "someone tried to login with the wrong credentials" error

[2019-04-29 14:54] polgiron commented on #920
Here is the all file, I hope it will be helpful: https://pastebin.com/wGYTy944

[2019-04-29 15:46] benhaynes commented on #906
Cool. Docs are updated! (I even found some other references to MySQL 5.2 hidden in there).

Let's go through the API/App and make sure there are no code conditionals checking for older versions on install.

[2019-04-29 16:50] cristianopolicarpo commented on #906
As the support will be MySQL 5.7+, I decide to install version 5.7 and started a clean installation. The installation now completes successfully. But when I try to login, I get the following error:

Server Error
Something is wrong with this instance's server or database.

`
[2019-04-29 16:36:30] api[_].ERROR: Directus\Permissions\Exception\ForbiddenCollectionReadException: Reading items from "dire

[2019-04-30 03:58] Pujan789556 opened #923 "Permission Denied on Directus Fields Endpoint"
# Bug Report

## Steps to Reproduce

1) Go to Roles & Permissions and Click **Public**
2) Toggle Show Directus System Collections
3) Click All on  **Fields**

## Expected Behavior
- Able to get **Fields** of any collections with endpoint  **<project_key>/fields/[collection]**

## Actual Behavior
- Got **{"error":{"code":3,"message":"Permission denied"}}**

## Other Context & Screenshots

## Techni

[2019-04-30 07:00] bjgajjar commented on #920
Closed in #922

[2019-04-30 11:47] bjgajjar commented on #879
@agseco

This issue is related to `o2m` filters. The `translation` is using `o2m` internally so this should be resolved with `o2m` filters feature.

[2019-04-30 12:41] alrick commented on #876
Just a follow-up that I'll not update everything before the problem with the files is fixed as this is a deal-breaker for my clients.

I'll update and test everything as soon as this is fixed, next update according to a conversation on your Slack.

[2019-04-30 13:05] benhaynes commented on #879
Thanks @bjgajjar — is it related, or is it actually the same? If it's the exact same then we can close this as a duplicate.

And to be clear, you're talking about this one? https://github.com/directus/app/issues/1404

[2019-04-30 13:20] benhaynes commented on #923
I'm assuming that the App is saving the proper permissions in the database (could you confirm this @Pujan789556 ?) so I've transferred this to the API repo.

My guess is that `directus_fields` has a relationship with another collection that you haven't given permission to. Could you also try giving _all_ Directus system collections public read permission to see if the error persists?

[2019-04-30 13:22] bjgajjar commented on #879
@benhaynes

#1404 is related to m2o and this is related to o2m. This both issues are related to the relationship but both are different as this both have individual codebase in the backend and both are treated differently as per the code.

That's why user able to get the response (although it is wrong) for #1404 and here user get the error instead of valid response. So these both issues are indivi

[2019-04-30 15:12] Pujan789556 commented on #923
![Screenshot from 2019-04-29 17-05-29](https://user-images.githubusercontent.com/10183860/56972341-89055e00-6b8a-11e9-8320-cd5934c92379.png)

[2019-04-30 15:13] Pujan789556 commented on #923
Give ALL permission on each Directus System Collection. But not working.